<% content_for :headpayments do %>
    <title>Pilih Metode Pembayaran | Travel Souvenir Pertama & Terlengkap</title>
<% end %>
<!-- --------------------------------------------------- -->
<% content_for :payments do %>
    <!-- --------------------------------------------------- -->
    <section class="c-payment">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand pb-2" href="/">
                    <%= image_tag 'logo/logo.png' %>
                </a>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link nav-link-steps" href="#">Data Pemesan</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link nav-link-steps" href="#">Metode Pembayaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Konfirmasi</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- --------------------------------------------------- -->
    <section class="c-payment-item">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h3 class="card-title mt-3">
                        Rp <%= number_with_delimiter(data['dataMain']['nominal_transfer']) %>
                    </h3>

                    <% if dataMethod['data']['v3']['available'] == true %>
                        <div class="card mb-2">
                            <ul class="list-group list-group-flush metode-pembayaran">
                                <li class="list-group-item">
                                    <a href="/evoucher/beli/<%= data['dataMain']['kode_transaksi'] %>/ABUPAY" class="card-link">
                                        <div class="media">
                                            <%= image_tag 'logo/abupay.png', :class => 'd-flex align-self-center mr-3', :alt => '' %>
                                            <div class="media-body">
                                                <h5 class="mt-2 mb-0">
                                                    AbuPay

                                                    <small class="float-right">
                                                        Lanjutkan <i class="icon-arrow-right32"></i>
                                                    </small>
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <% end %>

                    <% if dataMethod['data']['v2']['available'] == true %>
                        <div class="card mb-2">
                            <ul class="list-group list-group-flush metode-pembayaran">
                                <li class="list-group-item">
                                    <a href="/metode-pembayaran-transfer?p=<%= params['p'] %>&kk=<%= params['kk'] %>&mb=Abupay&type=<%= params['type'] %>&mtd=ABUPAY" class="card-link">
                                        <div class="media">
                                            <%= image_tag 'logo/abupay.png', :class => 'd-flex align-self-center mr-3', :alt => '' %>
                                            <div class="media-body">
                                                <h5 class="mt-2 mb-0">
                                                    AbuPay

                                                    <small class="float-right">
                                                        Lanjutkan <i class="icon-arrow-right32"></i>
                                                    </small>
                                                </h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <% end %>

                    <% if dataMethod['data']['v1']['available'] == true %>
                        <div class="card mb-2">
                            <div class="card-header c-h-title text-muted">
                                Bank Transfer
                            </div>
                            <% bank.each do |item| %>
                                <% if (item['nama'] == 'Mandiri') %>
                                    <% @gambar = 'lib/payment-icon/MANDIRI.png' %>
                                <% elsif item['nama'] == 'BNI' %>
                                    <% @gambar = 'lib/payment-icon/BNI.png' %>
                                <% elsif item['nama'] == 'BRI' %>
                                    <% @gambar = 'lib/payment-icon/BRI.png' %>
                                <% elsif item['nama'] == 'BCA' %>
                                    <% @gambar = 'lib/payment-icon/BCA.png' %>
                                <% end %>

                                <ul class="list-group list-group-flush metode-pembayaran">
                                    <li class="list-group-item">
                                        <a href="/evoucher/beli/<%= data['dataMain']['kode_transaksi'] %>?bank=<%= item['kdbank'] %>" class="card-link">
                                            <div class="media">
                                                <%= image_tag @gambar, :class => 'd-flex align-self-center mr-3', :alt => '' %>
                                                <div class="media-body">
                                                    <h5 class="mt-2 mb-0">
                                                        Bank <%= item['nama'] %>

                                                        <small class="float-right">
                                                            Lanjutkan <i class="icon-arrow-right32"></i>
                                                        </small>
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                            <% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
    <!-- ------------------------------------- -->
<% end %>

<% content_for :footpayments do %>
    <!-- ------------------------------------- -->
    <%= render template: 'partials/pay-footer' %>
    <!-- ------------------------------------- -->
<% end %>