<% content_for :headpayments do %>
    <title>Form Pemesanan Tiket Abutours | Travel Souvenir Pertama & Terlengkap</title>
<% end %>

<% content_for :payments do %>
    <!-- --------------------------------------------------- -->
    <section class="c-payment">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
            <%= image_tag 'logo/logo.png' %>
          </a>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link nav-link-steps" href="#">Data Pemesan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-steps" href="#">Metode Pembayaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Konfirmasi</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- --------------------------------------------------- -->
    <% if !@info_flight['departures'].nil? %>
    <section class="c-formpemesanan">
      <div class="container">
        <div class="row">
          <!-- ------------------------------------- -->
          <div class="col-8">
            <form action="/api/tiket/order?fi=<%= @info_flight['departures']['flight_id'] %>&rfi=<%= params['rfi'] %>" method="post" id="submit-tiket" novalidate>

              <h4 class="card-title mt-2 mb-3">
                Data Pemesan yang Dapat Dihubungi
              </h4>
              <div class="card c-formpemesanan-item mb-3">
                <div class="card-body c-formpemesanan-item-block">
                  <div class="form-group row">
                    <div class="col-4">
                        <label class="col-form-label">Title</label>
                        <select class="dewasa" name="contitle">
                            <option value="Mr" title="Out of Stock" disabled>Pilih title...</option>
                            <option value="Mr" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                              Tuan
                            </option>
                            <option value="Ms" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nona
                            </option>
                            <option value="Mrs" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nyonya
                            </option>
                        </select>
                    </div>
                    <div class="col-8">
                        <label class="col-12 col-form-label">Nama Lengkap</label>
                      <input type="text" name="connama" class="form-control" id="" placeholder="" value="" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-6">
                      <label class="col-form-label">Email</label>
                      <input type="email" name="conemail" class="form-control" id="" placeholder="" value="" required>
                    </div>
                    <div class="col-6">
                      <label class="col-form-label">No. Handphone</label>
                      <input type="number" name="conphone" class="form-control" id="" placeholder="" value="" required>
                    </div>
                  </div>
                </div>
              </div>

              <% (1..@info_flight['departures']['count_adult'].to_i).each do |penumpang_dewasa| %>
                  <h4 class="card-title mt-2 mb-3">
                    Data Penumpang
                  </h4>

                  <div class="card c-formpemesanan-item mb-3">
                    <div class="card-body c-formpemesanan-item-block">
                      <div class="form-group row">
                        <div class="col-4">
                          <label class="col-form-label">Title</label>
                          <select class="dewasa" name="dtitle<%= penumpang_dewasa %>">
                            <option value="Mr" title="Out of Stock" disabled>Pilih title...</option>
                            <option value="Mr" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                              Tuan
                            </option>
                            <option value="Ms" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nona
                            </option>
                            <option value="Mrs" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nyonya
                            </option>
                          </select>
                        </div>
                        <div class="col-8">
                          <label class="col-form-label">Nama lengkap (sesuai KTP/SIM/Paspor)</label>
                          <input type="text" class="form-control" name="dnama<%= penumpang_dewasa %>" id="" placeholder="" value="">
                        </div>
                      </div>

                      <% # Jika internasional %>
                      <% data_internasional = @info_flight['required']["passportnationalitya#{penumpang_dewasa}"] rescue true %>
                      <% if !data_internasional.nil? %>
                        <div class="form-group row">
                          <div class="col-4">
                            <label class="col-form-label">Tanggal Lahir</label>
                            <input type="text" class="form-control timepicker" name="dbday<%= penumpang_dewasa %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Kewarganegaraan</label>
                            <select class="dewasa" name="dpassport<%= penumpang_dewasa %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Nomor Paspor</label>
                            <input type="number" class="form-control" name="dpassportno<%= penumpang_dewasa %>" id="" placeholder="" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-6">
                            <label class="col-form-label">Tanggal Berakhir Paspor</label>
                            <input type="text" class="form-control timepicker" name="dpassportExpiryDate<%= penumpang_dewasa %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-6">
                            <label class="col-form-label">Negara yang Mengeluarkan</label>
                            <select class="dewasa" name="dpassportissuing<%= penumpang_dewasa %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <% @html.each do |item| %>
                            <% if item[:type] == "adult#{penumpang_dewasa}" %>
                              <%= item[:html].html_safe%>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <% (1..@info_flight['departures']['count_child'].to_i).each do |penumpang_anak| %>
                  <div class="card c-formpemesanan-item mb-3">
                    <div class="card-body c-formpemesanan-item-block">
                      <h4 class="card-title mt-0 mb-4">
                        Data Penumpang (UMUR 3 - 12 TAHUN)
                      </h4>
                      <div class="form-group row">
                        <div class="col-4">
                          <label class="col-form-label">Title</label>
                          <select class="dewasa" name="atitle<%= penumpang_anak %>">
                            <option value="Mstr" title="Out of Stock" disabled>Pilih title...</option>
                            <option value="Mstr" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                              Tuan
                            </option>
                            <option value="Miss" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nona
                            </option>
                          </select>
                        </div>
                        <div class="col-8">
                          <label class="col-form-label">Nama Lengkap (Sesuai KK)</label>
                          <input type="text" class="form-control" name="anama<%= penumpang_anak %>" id="" placeholder="" value="">
                        </div>
                      </div>

                      <% # Jika internasional %>
                      <% data_internasional = @info_flight['required']["passportnationalityc#{penumpang_anak}"] rescue true %>

                      <% if data_internasional.nil? %>
                      <div class="form-group row">
                        <label class="col-12 col-form-label">Tanggal Lahir</label>
                        <div class="col-12">
                          <input type="text" class="form-control timepicker" name="abday<%= penumpang_anak %>" placeholder="" value="">
                        </div>
                      </div>
                      <% end %>

                      <% if !data_internasional.nil? %>
                        <div class="form-group row">
                          <div class="col-4">
                            <label class="col-form-label">Tanggal Lahir</label>
                            <input type="text" class="form-control timepicker" name="abday<%= penumpang_anak %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Kewarganegaraan</label>
                            <select class="dewasa" name="apassport<%= penumpang_anak %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Nomor Paspor</label>
                            <input type="number" class="form-control" name="apassportno<%= penumpang_anak %>" id="" placeholder="" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-6">
                            <label class="col-form-label">Tanggal Berakhir Paspor</label>
                            <input type="text" class="form-control timepicker" name="apassportExpiryDate<%= penumpang_anak %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-6">
                            <label class="col-form-label">Negara yang Mengeluarkan</label>
                            <select class="dewasa" name="apassportissuing<%= penumpang_anak %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <% @html.each do |item| %>
                            <% if item[:type] == "child#{penumpang_anak}" %>
                              <%= item[:html].html_safe%>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <% (1..@info_flight['departures']['count_infant'].to_i).each do |penumpang_bayi| %>
                  <div class="card c-formpemesanan-item mb-3">
                    <div class="card-body c-formpemesanan-item-block">
                      <h4 class="card-title mt-0 mb-4">
                        Data Penumpang (Umur 1 - 2 Tahun)
                      </h4>
                      <div class="form-group row">
                        <div class="col-4">
                          <label class="col-form-label">Title</label>
                          <select class="dewasa" name="btitle<%= penumpang_bayi %>">
                            <option value="Mstr" title="Out of Stock" disabled>Pilih title...</option>
                            <option value="Mstr" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                              Tuan
                            </option>
                            <option value="Miss" data-prefix="<span aria-hidden='true' class='icon-woman'></span>">
                              Nona
                            </option>
                          </select>
                        </div>
                        <div class="col-8">
                          <label class="col-form-label">Nama Lengkap (Sesuai KK)</label>
                          <input type="text" class="form-control" name="bnama<%= penumpang_bayi %>" id="" placeholder="" value="">
                        </div>
                      </div>

                      <% # Jika internasional %>
                      <% data_internasional = @info_flight['required']["passportnationalityi#{penumpang_bayi}"] rescue true %>

                      <% if data_internasional.nil? %>
                      <div class="form-group row">
                        <label class="col-12 col-form-label">Tanggal Lahir</label>
                        <div class="col-12">
                          <input type="text" class="form-control timepicker" name="bbday<%= penumpang_bayi %>" placeholder="" value="">
                        </div>
                      </div>
                      <% end %>

                      <% if !data_internasional.nil? %>
                        <div class="form-group row">
                          <div class="col-4">
                            <label class="col-form-label">Tanggal Lahir</label>
                            <input type="text" class="form-control timepicker" name="bbday<%= penumpang_bayi %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Kewarganegaraan</label>
                            <select class="dewasa" name="bpassport<%= penumpang_bayi %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                          <div class="col-4">
                            <label class="col-form-label">Nomor Paspor</label>
                            <input type="number" class="form-control" name="bpassportno<%= penumpang_bayi %>" id="" placeholder="" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-6">
                            <label class="col-form-label">Tanggal Berakhir Paspor</label>
                            <input type="text" class="form-control timepicker" name="bpassportExpiryDate<%= penumpang_bayi %>" id="" placeholder="" value="">
                          </div>
                          <div class="col-6">
                            <label class="col-form-label">Negara yang Mengeluarkan</label>
                            <select class="dewasa" name="bpassportissuing<%= penumpang_bayi %>">
                              <option value="id" data-prefix="<span aria-hidden='true' class='icon-man'></span>" title="Out of Stock">Indonesia</option>
                              <% @countryTiket.each do |item| %>
                                <option value="<%= item['country_id'] %>" data-prefix="<span aria-hidden='true' class='icon-man'></span>">
                                  <%= item['country_name'] %>
                                </option>
                              <% end %>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <% @html.each do |item| %>
                            <% if item[:type] == "infant#{penumpang_bayi}" %>
                              <%= item[:html].html_safe%>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>

              <h4 class="card-title mt-2 mb-0">
                Rincian Harga
              </h4>
              <p style="font-size: 12px !important;">
                Maskapai tetap dapat meng-update harga. <br>
                Harga final akan Anda dapatkan di halaman Konfirmasi Pembayaran.
              </p>
              <div class="card c-formpemesanan-item mb-3">
                <div class="card-body c-formpemesanan-item-block">
                  <dl class="row">
                    <dt class="col-6">Total Harga Tiket</dt>
                    <dd class="col-6 text-md-right" id="total-harga-paket">
                      <strong>
                        <% if !@info_flight['returns'].nil? %>
                        <%= number_to_currency(@info_flight['departures']['price_value'].to_i + @info_flight['returns']['price_value'].to_i, precision: 0, unit: "Rp ") %>
                        <% else %>
                        <%= number_to_currency(@info_flight['departures']['price_value'], precision: 0, unit: "Rp ") %>
                        <% end %>
                      </strong>
                    </dd>

                    <dt class="col-6">Administrasi</dt>
                    <dd class="col-6 text-md-right">
                      <strong>
                        Rp 0
                      </strong>
                    </dd>

                    <dt class="col-6">PPN</dt>
                    <dd class="col-6 text-md-right">
                      <strong>
                        Rp 0
                      </strong>
                    </dd>
                  </dl>
                </div>
                <div class="card-footer">
                  <dl class="row">
                    <dt class="col-6"><strong>Total Pembayaran</strong></dt>
                    <dd class="col-6 text-md-right text-danger">
                      <strong id="total-pembayaran">
                        <% if !@info_flight['returns'].nil? %>
                        <%= number_to_currency(@info_flight['departures']['price_value'].to_i + @info_flight['returns']['price_value'].to_i, precision: 0, unit: "Rp ") %>
                        <% else %>
                        <%= number_to_currency(@info_flight['departures']['price_value'], precision: 0, unit: "Rp ") %>
                        <% end %>
                      </strong>
                    </dd>
                  </dl>
                </div>
              </div>
            </form>
          </div>
          <!-- ------------------------------------- -->
          <div class="col-4 pl-0 sticky">
            <div class="card c-ringkasan theiaStickySidebar">
              <div class="card-body c-ringkasan__item">
                <h4 class="card-title c-ringkasan__title mb-0">
                  Penerbangan pergi
                </h4>
                <small class="text-muted">
                  <%= @info_flight['departures']['departure_flight_date_str'] %>
                </small>
                
                <% @info_flight['departures']['flight_infos']['flight_info'].each do |item| %>
                <% if item['transit_arrival_text_city'] != "" %>
                <div class="alert alert-secondary">
                    Transit Selama <%= item['transit_arrival_text_time'] %> di <%= item['departure_city_name'] %>
                </div>
                <% end %>
                <table class="table table-flex">
                  <tr>
                    <td class="border-top-0 pt-0 pb-0">
                      <%= image_tag item['img_src'], :class => 'rounded d-inline', :alt => '' %> /
                      <small class="text-muted">
                        <%= item['airlines_name'] %>
                        - <%= item['flight_number'] %>
                      </small>
                    </td>
                  </tr>

                  <tr>
                    <td class="border-top-0">
                      <ul>
                        <li><span></span>
                          <div>
                            <div class="title">
                              <table class="table table-flex">
                                <tr>
                                  <td>
                                    <%= item['simple_departure_time'] %> <br>
                                    <p class="mb-0">
                                      <%= item['string_departure_date'] %>
                                    </p>
                                    <h6 class="mb-0 text-uppercase">
                                      <%= item['departure_city_name'] + " (#{item['departure_city']})" %>
                                    </h6>
                                  </td>
                                </tr>
                              </table>
                            </div>

                            <div class="info"><i class="icon-airplane3 mr-2"></i><%= item['duration_hour'] + " " + item['duration_minute'] %></div>

                            <div class="title">
                              <table class="table table-flex">
                                <tr>
                                  <td>
                                    <%= item['simple_arrival_time'] %> <br>
                                    <p class="mb-0">
                                      <%= item['string_arrival_date'] %>
                                    </p>
                                    <h6 class="mb-0 text-uppercase">
                                      <%= item['arrival_city_name'] + " (#{item['arrival_city']})" %>
                                    </h6>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <!-- --------------------------------------------------------------- -->
                </table>
                <% end %>
              </div>
              <% if !@info_flight['returns'].nil? %>
                <div class="card-body c-ringkasan__item">
                <h4 class="card-title c-ringkasan__title mb-0">
                  Penerbangan pulang
                </h4>
                <small class="text-muted">
                  <%= @info_flight['returns']['departure_flight_date_str'] %>
                </small>
                
                <% @info_flight['returns']['flight_infos']['flight_info'].each do |item| %>
                <% if item['transit_arrival_text_city'] != "" %>
                <div class="alert alert-secondary">
                    Transit Selama <%= item['transit_arrival_text_time'] %> di <%= item['departure_city_name'] %>
                </div>
                <% end %>
                <table class="table table-flex">
                  <tr>
                    <td class="border-top-0 pt-0 pb-0">
                      <%= image_tag item['img_src'], :class => 'rounded d-inline', :alt => '' %> /
                      <small class="text-muted">
                        <%= item['airlines_name'] %>
                        - <%= item['flight_number'] %>
                      </small>
                    </td>
                  </tr>

                  <tr>
                    <td class="border-top-0">
                      <ul>
                        <li><span></span>
                          <div>
                            <div class="title">
                              <table class="table table-flex">
                                <tr>
                                  <td>
                                    <%= item['simple_departure_time'] %> <br>
                                    <p class="mb-0">
                                      <%= item['string_departure_date'] %>
                                    </p>
                                    <h6 class="mb-0 text-uppercase">
                                      <%= item['departure_city_name'] + " (#{item['departure_city']})" %>
                                    </h6>
                                  </td>
                                </tr>
                              </table>
                            </div>

                            <div class="info"><i class="icon-airplane3 mr-2"></i><%= item['duration_hour'] + " " + item['duration_minute'] %></div>

                            <div class="title">
                              <table class="table table-flex">
                                <tr>
                                  <td>
                                    <%= item['simple_arrival_time'] %> <br>
                                    <p class="mb-0">
                                      <%= item['string_arrival_date'] %>
                                    </p>
                                    <h6 class="mb-0 text-uppercase">
                                      <%= item['arrival_city_name'] + " (#{item['arrival_city']})" %>
                                    </h6>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <!-- --------------------------------------------------------------- -->
                </table>
                <% end %>
              </div>
              <% end %>
              <div class="col-12 mb-2">
                <button type="submit" id="lanjutPembayaran" class="btn btn-lg btn-block btn-danger" onclick="">Lanjutkan</button>
              </div>
            </div>
          </div>
          <!-- ------------------------------------- -->
        </div>
      </div>
    </section>
    <% else %>
        <div class="w-blank text-center p-5">
          <%= image_tag 'icon_blank/no_ticket.png', :class => 'rounded mx-auto d-block', :alt => '' %>
          <p class="mb-0">
            Maaf, Penerbangan sudah tidak tersedia! Mohon lakukan pemesanan ulang.
          </p>
        </div>
    <% end %>
    <!-- ------------------------------------- -->
<% end %>

<% content_for :footpayments do %>
    <!-- ------------------------------------- -->
    <%= render template: 'partials/pay-footer' %>
    <!-- ------------------------------------- -->
    <script type="text/javascript">
        // sticky scroll
        $(document).ready(function () {
            $('.sticky')
                .theiaStickySidebar({
                    additionalMarginTop: 10,
                          additionalMarginBottom  : 80
                });

        });

        $(document).ready(function () {
            $('.timepicker').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                },
                "singleDatePicker": true,
                "autoApply": true,
                "showDropdowns": true
            });
        });

        $(document).ready(function () {
            $('.dewasa').prettyDropdown({
                afterLoad: function () {
                    console.log('abutours.com | best travel services');
                }
            });
            $('#anak').prettyDropdown({
                afterLoad: function () {
                    console.log('abutours.com | best travel services');
                }
            });
            $('#bayi').prettyDropdown({
                afterLoad: function () {
                    console.log('abutours.com | best travel services');
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".txtOnly").keypress(function (e) {
                var key = e.keyCode;
                if (key >= 48 && key <= 57) {
                    e.preventDefault();
                }
            });
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            window.addEventListener('load', function () {
                var form = document.getElementById('submit-tiket');
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            }, false);
        })();
    </script>
    <!-- ------------------------------------- -->
<% end %>