<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="p-services | p-2">
      <div class="container">
        <div class="row | pl-3 | pr-3">
          <div class="col-8 | p-1">
            <div class="card | p-services__item | c-middle">
              <div class="card-body | p-services__item-b | pl-5 pr-5 pt-5">
                <h1 class="display-5 | h-title | m-0 | mb-2 | text-uppercase">
                  <small class="text-uppercase">Umrah</small><br>
                  Lebih Dari Sekedar Nikmatnya Ibadah
                </h1>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium adipisci aut,
                  consectetur cumque dolor et exercitationem expedita fugiat illum libero nobis placeat quam quasi quis
                  repudiandae, ut. Eum, velit.
                </p>
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium adipisci aut,
                  consectetur cumque dolor et exercitationem expedita fugiat illum libero nobis placeat quam quasi quis
                  repudiandae, ut. Eum, velit.
                </p>

                <!-- -------------------------------------------------------- -->
                <h4 class="text-uppercase mt-5">
                  Mengapa Umrah di Abutours Lebih Murah ?
                </h4>
                <ul class="list-unstyled mt-3">
                  <li class="media">
                    <%= image_tag 'lib/icon/teknologimutakhir.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Berbasis Teknologi Mutakhir & Keamanan Transaksi</h5>
                      Berbeda dengan travel umroh dan biro perjalanan lainnya, abutours.com dengan sistem online dan berbasis teknologi yang aman & mutakhir,  sehingga biaya operasional kami jauh lebih rendah dan murah.
                    </div>
                  </li>
                  <li class="media my-4">
                    <%= image_tag 'lib/icon/travelumrahterbesar.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Online Travel Umroh Pertama & Terbesar di Indonesia</h5>
                      Abutours.com, online travel umroh pertama dan terbesar dengan kantor cabang yang tersebar di seluruh Indonesia berada di kota Jakarta, Makassar, Palembang, Surabaya, Medan, Kendari, dan Balikpapan serta kota lainnya dengan bekerjasama banyak airline dalam menghadirkan promo dengan harga khusus yang terpercaya.
                    </div>
                  </li>
                  <li class="media">
                    <%= image_tag 'lib/icon/semuabisaumrah.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Bukan hanya harga murah, karena kami percaya semua bisa umroh</h5>
                      Selain promo umroh dan harga umroh terbaik, kami percaya semua umat muslim harus merasakan pengalaman berumroh oleh karena itu kami menyediakan paket umroh untuk semua kalangan karena semua bisa umroh bersama abutours.com
                    </div>
                  </li>
                </ul>


                <!-- -------------------------------------------------------- -->
                <h4 class="text-uppercase mt-5">
                  Kenapa Umrah Bersama Abutours Lebih Baik ?
                </h4>
                <ul class="list-unstyled mt-3">
                  <li class="media">
                    <%= image_tag 'lib/icon/hargaterjamin.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Harga Terjamin</h5>
                      Kami menyediakan paket umrah dengan harga murah dan terjangkau. Semua biaya sudah termasuk dengan airport tax, pajak, handling dan tentu saja dengan fasilitas dan pelayanan berkualitas.
                    </div>
                  </li>
                  <li class="media">
                    <%= image_tag 'lib/icon/tidakrepot.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Tidak Perlu Repot</h5>
                      Pengurusan barang bawaan anda akan ditangani langsung oleh tim abutours sejak keberangkatan hingga kepulangan. Jadi, anda tidak perlu repot untuk membawanya karena anda akan mendapatkan barang bawaan anda di dalam kamar hotel.
                    </div>
                  </li>
                  <li class="media">
                    <%= image_tag 'lib/icon/akomodasi.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Akomodasi & Transportasi</h5>
                      Hotel yang disediakan setara hotel bintang 5 dengan jarak ke Masjidil Haram ±100-300 meter yang memudahkan Jamaah melaksanakan ibadah solat di Masjidil Haram. Didukung dengan transportasi abutours selama berada di arab saudi, serta makanan yang terjamin dengan menu masakan Indonesia.
                    </div>
                  </li>
                  <li class="media">
                    <%= image_tag 'lib/icon/prosescepatdanaman.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Proses Cepat & Aman</h5>
                      Semua proses pemesanan dapat dilakukan lebih efisien dan efektif melalui gadget anda, karena kami telah menyediakan layanan pemesanan secara online dan transaksi pembayaran umrah dapat dilakukan via Transfer ATM, Kartu Kredit, Hingga Internet Banking.
                    </div>
                  </li>
                  <li class="media">
                    <%= image_tag 'lib/icon/paketpromo.png', :class => 'img-rounded d-flex mr-3' %>
                    <div class="media-body">
                      <h5 class="mt-0 mb-1">Paket Promo Hemat</h5>
                      Kami menyediakan berbagai macam pilihan paket umrah dengan harga hemat. Kami juga menjamin harga Awal sama dengan harga di akhir. Dapatkan paket umrah murah dengan fasilitas dan pelayanan berkualitas.
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-4 | p-1">
            <div class="card | p-services__item | mb-2">
              <%= image_tag 'lib/icon/subscribe-book.png', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>

              <div class="card-body | p-services__item-b">
                <p class="mb-0">
                  Gratis download e-book <i>ayo bisnis umrah</i>
                </p>
                <a href="" class="mt-3 btn btn-outline-success">Download sekarang</a>
              </div>
            </div>

            <div class="card | p-services__item | c-right">
              <%= image_tag 'https://a0.muscache.com/im/pictures/b3a26d12-12e4-4c9a-ac2d-8c59d3f8afd4.jpg?aki_policy=xl_poster', :class => 'img-rounded' %>
              <div class="card-body | p-services__item-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= content_for :foot do %>

<% end %>