<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="p-services | p-2">
      <div class="container">
        <div class="row | pl-3 | pr-3">
          <div class="col-8 | p-1">
            <div class="card | p-services__item | c-middle">
              <div class="card-body | p-services__item-b | p-5">
                <h1 class="display-5 | h-title | m-0 | mb-2 | text-uppercase">
                  <small class="text-uppercase">ABUTOURS</small><br>
                  BERSAMA MEMBANGUN BISNIS
                </h1>

                <p class="card-text">
                  Abutours.com menawarkan peluang besar untuk menjadi agen & mitra travel Umrah dengan memperoleh banyak keuntungan dan promo seputar Umrah dan Haji. Pastikan anda mendapat hadiah yang kami siapkan untuk setiap penjualan paket umrah murah yang disajikan beragam oleh Abutours untuk para hamba Allah Swt.
                  Kami juga menawarkan kerjasama kepada anda yang ingin membuka online store untuk menjual produk-produk Anda. Kami menggunakan fotografer profesional untuk menampilkan gambar produk Anda yang terbaik. Dapatkan banyak keuntungan dengan menjadi agen dari Abutours.
                </p>

                <!-- -------------------------------------------------------- -->
                <h4 class="text-uppercase | mt-5 | mb-4">
                  PENAWARAN BISNIS
                </h4>
                <div class="row pl-3 pr-3">
                  <div class="col-4 | p-0">
                    <div class="card | text-center | c-partnership">
                      <div class="card-body c-partnership-b">
                        <h4 class="card-title">Agen Gold</h4>
                        <h1 class="display-5">15jt</h1>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Administrasi</small>
                            </p>
                            <p class="lead mb-0">
                              Rp 500.000
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Free Umrah Tahun Ke</small>
                            </p>
                            <p class="lead mb-0">
                              5
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Jumlah Voucher</small>
                            </p>
                            <p class="lead mb-0">
                              15
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>ID Username</small>
                            </p>
                            <p class="lead mb-0">
                              abutours.com
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-4 | p-0">
                    <div class="card | text-center | c-partnership | c-mitra">
                      <div class="card-body c-partnership-b">
                        <h4 class="card-title">Mitra</h4>
                        <h1 class="display-5">100jt</h1>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Administrasi</small>
                            </p>
                            <p class="lead mb-0">
                              Rp 500.000
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Free Umrah Selama Kontrak</small>
                            </p>
                            <p class="lead mb-0">
                              1
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Voucher 1 juta</small>
                            </p>
                            <p class="lead mb-0">
                              100 Voucher
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Fee income pasif perbulan</small>
                            </p>
                            <p class="lead mb-0">
                              1,1jt sampai 58 bulan
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>sertifikat Polis</small>
                            </p>
                            <p class="lead mb-0">
                              100jt
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>ID Username</small>
                            </p>
                            <p class="lead mb-0">
                              abutours.com
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-4 | p-0">
                    <div class="card | text-center | c-partnership">
                      <div class="card-body c-partnership-b">
                        <h4 class="card-title">Agen Platinum</h4>
                        <h1 class="display-5">20jt</h1>

                        <ul class="list-group list-group-flush">
                          <li class="list-group-item text-center">
                            <p class="mb-0">
                              <small>Administrasi</small>
                            </p>
                            <p class="lead mb-0">
                              Rp 500.000
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Free Umrah Tahun Ke</small>
                            </p>
                            <p class="lead mb-0">
                              3
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>Jumlah Voucher</small>
                            </p>
                            <p class="lead mb-0">
                              20
                            </p>
                          </li>

                          <li class="list-group-item">
                            <p class="mb-0">
                              <small>ID Username</small>
                            </p>
                            <p class="lead mb-0">
                              abutours.com
                            </p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card | p-services__item | c-middle mt-2 | text-center">
              <div class="card-body | p-services__item-b">
                <a href="/daftar-partnerships-abutours" class="btn btn-lg btn-success">Ayo Bergabung</a>
              </div>
            </div>
          </div>

          <div class="col-4 | p-1">
            <div class="card | p-services__item | mb-2">
              <%= image_tag 'lib/icon/subscribe-book.png', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>

              <div class="card-body | p-services__item-b">
                <p class="mb-0">
                  Gratis download e-book <i>ayo bisnis umrah</i>
                </p>
                <a href="" class="mt-3 btn btn-outline-success">Download sekarang</a>
              </div>
            </div>

            <div class="card | p-services__item | c-right">
              <%= image_tag 'https://a0.muscache.com/im/pictures/f1e15fcf-33ef-4282-ba58-7bbf2ca9e531.jpg?aki_policy=xl_poster', :class => 'img-rounded' %>
              <div class="card-body | p-services__item-b"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= content_for :foot do %>

<% end %>