<%= content_for :headmobile do %>
    <title>Tagihan Pembayaran</title>
<% end %>

<%= content_for :mobile do %>
<div class="data-navbar-payment">
	<table class="table table-nav table-sm mb-0">
		<tbody>
			<tr>
				<td class="active">
					Isi Data Pemesan
				</td>
				<td class="active">
					Pembayaran
				</td>
				<td class="active">
					Konfirmasi
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="data-tagihan-payment-method">
	<div class="card">
		<div class="card-body">
			<table class="table table-sm mb-0">
				<tbody>
					<tr>
						<td>
							<small>Total Tagihan Anda</small>
							<h5 class="mb-0">
								<%= number_to_currency(@data['hargabayar'].to_i, precision: 0 , unit: "#{!@data['tipecurr'].nil? ? @data['tipecurr'] : "Rp"} ") %>
							</h5>
						</td>

						<td width={120} class="text-right">
							<a class="card-link" data-toggle="collapse" href="#linkdetailtagihan" role="button" aria-expanded="false" aria-controls="linkdetailtagihan">
								Lihat Tagihan <i class="ion-ios-arrow-down"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="collapse" id="linkdetailtagihan">
		<div class="card card-collapse">
			<div class="card-body">
				<table class="table table-sm mb-0">
					<tbody>
						<tr>
							<td>
								Potongan
							</td>
							<td width={150}>
								Rp 0
							</td>
						</tr>
						<tr>
							<td>
								Subtotal
							</td>
							<td width={150}>
							<%= number_to_currency(@data['hargabayar'].to_i, precision: 0 , unit: "#{!@data['tipecurr'].nil? ? @data['tipecurr'] : "Rp"} ") %>
							</td>
						</tr>

						<tr>
							<th>
								Tagihan
							</th>
							<th width={150}>
							<%= number_to_currency(@data['hargabayar'].to_i, precision: 0 , unit: "#{!@data['tipecurr'].nil? ? @data['tipecurr'] : "Rp"} ") %>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="data-payment-bill">
	<div class="card">
		<div class="card-body">
			<h5 class="mb-0">
				Bank Tujuan Transfer :
			</h5>

			<div class="media">
				<div class="media-body">
					<p class="text-info mt-2 mb-0">
						<%= Bank::abutours(params['mb'])['nama'] %> <%= Bank::abutours(params['mb'])['norekening']%>
					</p>
				</div>
				<%= image_tag Bank::abutours(params['mb'])['image'], :class => 'align-self-center ml-3' %>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header text-center">
			<p class="text-uppercase mb-2">
				Batas waktu pembayaran
			</p>

			<div class="alert alert-warning" role="alert">
				<%= VariableHelper::timeCleanParsing(@data['limit_pembayaran']) %>
			</div>
		</div>

		<div class="card-body">
			<div class="alert alert-warning" role="alert">
				Lakukan transfer ke <span class="text-danger">rekening tujuan diatas</span> sesuai TOTAL TAGIHAN ANDA
				agar tidak menghambat proses verifikasi.
			</div>

			<p class="text-muted">
				Kami akan memproses transaksi anda selambat-lambatnya dalam waktu 1x24 jam setelah anda melakukan
				<br /><a href="" class="text-danger">Konfirmasi Pembayaran</a>
			</p>
		</div>
	</div>
</div>
<% end %>