<% content_for :head do %>
    <title>Konfirmasi Pembayaran | Lebih Dari Sekedar Nikmatnya Ibadah</title>
<% end %>

<% content_for :abutours do %>
    <section class="c-dashboard">
      <div class="container">
        <div class="row">
          <!-- --------------------------------------------------- -->
          <div class="col-3 pr-4">
            <div class="card c-dashboard-side pb-5">
              <div class="card-body c-dashboard-side__item p-0">
                <%= render template: 'accounts/partials/sidebar' %>
              </div>
            </div>
          </div>
          <!-- --------------------------------------------------- -->
          <div class="col-9 pl-0 pr-2 ml-15">
            <div class="_landing | w-breadcrumb">
              <ol class="breadcrumb border-bottom-0">
                <li class="breadcrumb-item"><a href="/">Halaman awal</a></li>
                <li class="breadcrumb-item active">Konfirmasi pembayaran</li>
              </ol>
            </div>

            <!-- --------------------------------------------------- -->
            <div class="card c-dashboard-user c-dashboard-user-small">
              <%= render template: 'accounts/partials/bannerTop' %>
            </div>
            <!-- --------------------------------------------------- -->
            <div class="c-bg-white-accounts">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card c-dashboard-content mt-1">
                  <div class="card-body c-dashboard-content__item">
                    <div class="row">
                      <div class="col-7">
                        <div class="form-group">
                          <label>No Transaksi</label>
                          <input type="text" class="form-control" value="<%= data['kodeTransaksi'] %>" readonly>
                        </div>
                      </div>

                      <div class="col-5">
                        <div class="form-group">
                          <label>Tanggal Transaksi</label>
                          <input type="text" class="form-control" value="2016-09-08" readonly>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label>Metode Pembayaran</label>
                          <input type="text" class="form-control" value="<%= data['jenisPembayaran'] %>" readonly>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label>Jumlah Transaksi</label>
                          <input type="text" class="form-control" value="Rp <%= number_with_delimiter(data['nominalTransfer']) %>" readonly>
                        </div>
                      </div>

                      <div class="col-8">
                        <div class="form-group">
                          <label>Bank Pengirim</label>
                          <input type="text" class="form-control" value="<%= data['bankPengirim']['atasNama'] %> - <%= data['bankPengirim']['nomorRekening'] %> (Bank <%= data['bankPengirim']['namaBank'] %>)" readonly>
                          <small class="form-text text-muted">
                            Bank pengirim harus sesuai dengan rekening yang digunakan
                          </small>
                        </div>
                      </div>

                      <div class="col-4">
                        <div class="form-group">
                          <label>Tanggal Konfirmasi Pembayaran</label>
                          <input type="text" name="tgl" id="tgl" class="form-control">
                          <small class="form-text text-muted">
                            Tanggal konfirmasi harus sesuai dengan bukti transfer
                          </small>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label>Bank Tujuan</label>
                          <select id="bank" name="databank" title="Pilih bank">
                            <option value="76023" title="Out of Stock" disabled>
                              Pilih bank...
                            </option>
                            <option data-prefix="<span aria-hidden='true' class='icon-wallet'></span>"
                                    data-suffix="<small>Bank Mandiri</small>"> 000 222 00 234
                            </option>
                            <option data-prefix="<span aria-hidden='true' class='icon-wallet'></span>"
                                    data-suffix="<small>Bank BRI</small>"> 000 222 00 234
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="form-group">
                          <label>Bukti Transfer</label>
                          <input type="file" name="files">
                          <small class="form-text text-muted">
                            Upload bukti transfer anda untuk mempercepat proses verifikasi pembayaran
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- --------------------------------------------------- -->
                <div class="card c-dashboard-content mt-1 mb-3">
                  <div class="card-body c-dashboard-content__item">
                    <div class="row justify-content-center">
                      <div class="col-8">
                        <table class="table table-flex">
                          <tr>
                            <td class="bt-none">
                              <a href="" class="btn btn-lg btn-block btn-secondary">
                                Kembali
                              </a>
                            </td>
                            <td class="bt-none">
                              <a href="/terima-kasih" class="btn btn-lg btn-block btn-success">Konfirmasi</a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- --------------------------------------------------- -->
          </div>
        </div>
      </div>
    </section>
<% end %>

<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#bank').prettyDropdown({
                afterLoad: function () {
                    console.log('abutours.com |best travel services');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#bkt_transfer").fileinput({
                overwriteInitial: true,
                maxFileSize: 1500,
                showClose: false,
                showUpload: false,
                showCaption: false,
                browseLabel: '',
                removeLabel: '',
                browseIcon: '<i class="ion-ios-camera-outline"></i>',
                removeIcon: '<i class="ion-ios-close-empty"></i>',
                defaultPreviewContent: '<%= image_tag !session[:account_detail][:foto]['url'].nil? ? session[:account_detail][:foto]['url'] : "https://www.gravatar.com/avatar/42a1a8c4fa9e9f384f2a29aa4f047da8?s=128&d=mm&r=g", :alt => '' %>',
                allowedFileExtensions: ["jpg", "png", "gif"]
            });

            $('input[name="files"]').fileuploader();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[name="tgl"]').daterangepicker({
                "singleDatePicker": true,
                "showDropdowns": true
            });
        });
    </script>
<% end %>