<% content_for :head do %>
    <title>E-Voucher | Lebih Dari Sekedar Nikmatnya Ibadah</title>
<% end %>

<% content_for :abutours do %>
    <section class="c-dashboard">
        <div class="container">
            <div class="row">
                <!-- --------------------------------------------------- -->
                <div class="col-3 pr-4">
                    <div class="card c-dashboard-side pb-5">
                        <div class="card-body c-dashboard-side__item p-0">
                            <%= render template: 'accounts/partials/sidebar' %>
                        </div>
                    </div>
                </div>
                <!-- --------------------------------------------------- -->
                <div class="col-9 pl-0 pr-2 ml-15">
                    <div class="_landing | w-breadcrumb">
                        <ol class="breadcrumb border-bottom-0">
                            <li class="breadcrumb-item"><a href="/">Halaman awal</a></li>
                            <li class="breadcrumb-item active">Voucher Game</li>
                        </ol>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <div class="card c-dashboard-user">
                        <%= render template: 'accounts/partials/bannerTop' %>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <div class="c-bg-white-accounts">
                        <ul class="nav tabs-voucher mb-2">
                            <li class="nav-item">
                                <a class="nav-link <%= active_class('/tiket-pesawat') %>" href="/tiket-pesawat">
                                    Tiket Pesawat
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= active_class('/pulsa') %>" href="/pulsa">
                                    Beli Pulsa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= active_class('/paket-data') %>" href="/paket-data">
                                    Paket Data
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= active_class('/token-listrik') %>" href="/token-listrik">
                                    Token Listrik
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link <%= active_class('/voucher-game') %>" href="/voucher-game">
                                    Voucher Game
                                </a>
                            </li>
                        </ul>
                        <!-- --------------------------------------------------- -->
                        <form class="form-costumes" action="/voucher-game/detail" method="post">
                            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                            <div class="card c-dashboard-content mt-1 mb-0">
                                <div class="card-body c-dashboard-content__item">
                                    <div class="form-group row">
                                        <div class="col-7">
                                            <label>Voucher</label>
                                            <select id="voucher" name="voucher" onchange="cekHargaGame(this.value)">
                                                <option value="0" disabled>
                                                    Pilih voucher...
                                                </option>
                                                <%= data.each do |row| %>
                                                    <option value="<%= row['game'] %>" data-prefix="<span aria-hidden='true'></span>">
                                                        <%= row['game'] %>
                                                    </option>
                                                <% end %>
                                            </select>
                                        </div>

                                        <div class="col-5">
                                            <label>Nominal</label>
                                            <select id="nominalVoucherGame" name="nominal" class="form-control">
                                                <option value="0" disabled>
                                                    Pilih nominal...
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label>Harga Bayar</label>
                                            <h5 class="ml-2" id="priceTagVoucherGame">
                                                Rp 0
                                            </h5>
                                        </div>

                                        <div class="col-6">
                                            <button class="btn btn-block btn-danger mt-3">Bayar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- --------------------------------------------------- -->
                </div>
                <!-- --------------------------------------------------- -->
            </div>
        </div>
    </section>
<% end %>

<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nominalVoucherGame").select2({
                theme: "bootstrap"
            });
            $('#voucher').prettyDropdown({
                afterLoad: function () {
                    console.log('abutours.com | best travel services');
                }
            });

            val = $("#voucher").val();
            nominal = $('#nominalVoucherGame');
            nominal.html('');
            $.get("/voucher-game/inquiry/" + val, function (data) {
                nominal.html('');
                $.each(data, function (i, value) {
                    nominal.append("<option value='" + value.product_id + "' data-price='Rp " + value.harga + "'data-value='" + value.nominal + "'>" + value.voucher + ' - ' + value.nominal + ' - Rp ' + numberFormat(value.harga) +  "</option>");
                    $('#priceTagVoucherGame').html(numberFormat($('#nominalVoucherGame').find("option:selected").data('price')));
                });
            });

        });

        $('#nominalVoucherGame').on('change', function (e) {
            $('#priceTagVoucherGame').html(numberFormat($(this).find("option:selected").data('price')));
        });
    </script>
    <script type="text/javascript">
        function cekHargaGame(val) {
            nominal = $('#nominalVoucherGame');
            nominal.html('');
            $.get("/voucher-game/inquiry/" + val, function (data) {
                nominal.html('');
                $.each(data, function (i, value) {
                    nominal.append("<option value='" + value.product_id + "' data-price='Rp " + value.harga + "'data-value='" + value.nominal + "'>" + value.voucher + ' - ' + value.nominal + ' - Rp ' + numberFormat(value.harga) + "</option>");
                });
            });
        }
    </script>
<% end %>