<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="c-one-naurah">
      <div class="c-one-naurah-item">
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div class="card">
                <div class="card-body">
                  <h1 class="mt-0">
                    Lebih Mudah Beribadah
                    Bersama Abutours
                  </h1>

                  <p class="mb-5 lead">
                    Untuk Agen / Mitra / Jamaah abutours yang belum memahami tentang biaya tambahan paket umrah
                    abutours, anda bisa melihat dibawah ini!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="e-cover-costs mb-5">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h1>
              Berapa Biaya Yang Harus Saya Tambah?
            </h1>
            <div class="card-header__overlap">
              abutours
            </div>
            <div class="card-header__underline"></div>
          </div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-4">
              <div class="number__overlap">
                1
              </div>
              <%= image_tag 'lib/icon/services_mitra.png', :class => 'mx-auto d-block'%>
              </dt>

              <dd class="col-8">
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Untuk jamaah & agen abutours jika menambah biaya paket sebesar :
                  </p>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 5 Juta untuk wilayah A Jakarta
                  </footer>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 6 Juta untuk wilayah B Makassar
                  </footer>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 7 Juta untuk wilayah C Kendari
                  </footer>
                  <footer class="blockquote-footer">
                    Dan mengajak 2(dua) jamaah baru dengan harga paket Rp 21 juta (langsung berangkat dengan jamaah
                    lama). <br>
                    Jamaah lama berhak mendapatkan bonus 1(satu) voucher potongan harga paket umrah senilai 5
                    juta/voucher.
                  </footer>
                </blockquote>
              </dd>
            </dl>
          </div>

          <div class="card-body">
            <dl class="row  dl-border">
              <dd class="col-8">
                <blockquote class="blockquote">
                  <p class="mb-0">
                    Untuk jamaah & agen abutours jika menambah biaya paket sebesar :
                  </p>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 9 Juta untuk wilayah A Jakarta
                  </footer>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 10 Juta untuk wilayah B Makassar
                  </footer>
                  <footer class="blockquote-footer">
                    <i class="ion-ios-plus-empty"></i>&nbsp;&nbsp; Rp 11 Juta untuk wilayah C Kendari
                  </footer>
                  <footer class="blockquote-footer">
                    Dan mengajak 1(satu) jamaah baru dengan harga paket Rp 21 juta (langsung berangkat dengan jamaah
                    lama). <br>
                    Jamaah lama berhak mendapatkan bonus 2(dua) voucher potongan harga paket umrah senilai 5
                    juta/voucher.
                  </footer>
                </blockquote>
              </dd>
              <dt class="col-4">
              <div class="number__overlap">
                2
              </div>
              <%= image_tag 'lib/icon/services_mitra.png', :class => 'mx-auto d-block'%>
              </dt>

            </dl>
          </div>

          <div class="card-body">
            <dl class="row">
              <dt class="col-4">
              <div class="number__overlap">
                3
              </div>
              <%= image_tag 'lib/icon/services_mitra.png', :class => 'mx-auto d-block'%>
              </dt>

              <dd class="col-8">
                <blockquote class="blockquote">
                  <footer class="blockquote-footer">
                    Jika jamaah & agen yang telah mendaftar dan tak mengajak jamaah baru maka
                    wajib membayar Rp 15 juta dan berhak mendapatkan bonus voucher umrah 3 lembar
                    dengan nilai per voucher Rp 5 juta
                  </footer>
                </blockquote>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    <div class="e-cover-simulations mb-5 mt-4">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h1>
              Simulasi Biaya Tambahan
            </h1>
            <div class="card-header__overlap">
              abutours
            </div>
            <div class="card-header__underline"></div>
          </div>

          <div class="card-body">
            <form>
              <div class="form-group row mb-0">
                <div class="col-5">
                  <div class="search-invoice">
                    <div class="search-invoice-images">
                      <i class="ion-ios-barcode-outline"></i>
                    </div>
                    <div class="search-invoice-group">
                      <label>Nomor invoice</label>
                      <input type="text" class="form-control" placeholder="Masukkan no invoice transaksi anda"/>
                    </div>
                  </div>
                </div>

                <div class="col-5">
                  <div class="search-invoice">
                    <div class="search-invoice-images">
                      <i class="ion-ios-calendar-outline"></i>
                    </div>
                    <div class="search-invoice-group">
                      <label>Tanggal Transaksi</label>
                      <input type="text" class="form-control" id="tgl_invoice" placeholder="Masukkan tanggal transaksi anda"/>
                    </div>
                  </div>
                </div>

                <div class="col-2">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Cari</button>
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="card e-data-invoice">
          <div class="card-body">
            <div class="card-header">
              <div class="d-flex">
                <div class="mr-auto p-0">
                  <p class="mb-0">
                    No Invoice : <strong>ABU-0099009909</strong>
                  </p>
                  <p class="mb-0">
                    Tgl Transaksi : <strong>12/09/2017</strong>
                  </p>
                  <p class="mb-0">
                    Zona Wilayah : <strong>(A) Jakarta</strong>
                  </p>
                </div>
                <div class="p-0">
                  <h3 class="mb-0 mt-4">
                    <strong>Rp 120,000,000</strong> Harga Beli
                  </h3>
                </div>
              </div>
            </div>
            <table class="table mb-0">
              <tr>
                <th class="data-one">
                  Jumlah Pax
                </th>
                <th class="data-two">
                  Keterangan
                </th>
                <th class="data-three">
                  Tambahan Biaya
                </th>
                <th class="data-four">
                  Total Bayar
                </th>
              </tr>

              <tr>
                <td class="data-one">
                  11 Pax
                </td>
                <td class="data-two">
                  Jika mengajak 2(dua) jamaah baru/pax nya
                </td>
                <td class="data-three">
                  Rp 5,000,000 /Pax
                </td>
                <td class="data-four">
                  Rp 55,000,000
                </td>
              </tr>

              <tr>
                <td class="data-one">
                  11 Pax
                </td>
                <td class="data-two">
                  Jika mengajak 1(satu) jamaah baru/pax nya
                </td>
                <td class="data-three">
                  Rp 9,000,000 /Pax
                </td>
                <td class="data-four">
                  Rp 99,000,000
                </td>
              </tr>

              <tr>
                <td class="data-one bb-none">11 Pax</td>
                <td class="data-two bb-none">
                  Tidak memiliki jamaah baru
                </td>
                <td class="data-three bb-none">
                  Rp 15,000,000 /Pax
                </td>
                <td class="data-four bb-none">
                  Rp 1,150,000,000
                </td>
              </tr>
            </table>
          </div>

          <!-- jika pencarian invoice tidak ditemukan -->
          <div class="card-body">
            <p class="text-center pt-5 pb-5 mb-0">
              Maaf, No Invoice tidak ditemukan!
            </p>
          </div>

        </div>
      </div>
    </div>
<% end %>

<%= content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#nominal_costs').select2({
                theme: 'bootstrap'
            })
        });

        $(function () {
            $("#tgl_invoice").datepicker({
                dateFormat: 'dd/mm/yy',
                showOtherMonths: true,
                numberOfMonths: 1
            });
        });
    </script>
<% end %>