<%= content_for :head do %>
    <title>Beli Token Listrik di Abutours | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="_landing | c-cover-head">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
          <div class="carousel-inner">
            <% if @data_slider && @data_slider.count > 0 %>
                <% first = true %>
                <% @data_slider.each do |slider| %>
                    <div class="carousel-item <%= first ? 'active' : '' %>">
                      <% first = false %>
                      <%= image_tag slider['foto'], :class => 'd-block w-100', :alt => slider['judul'] %>
                    </div>
                <% end %>
            <% else %>
                <div class="carousel-item active">
                  <%= image_tag 'lib/slider/token_listrik.png', :class => 'd-block w-100', :alt => '' %>
                </div>
            <% end %>
          </div>
        </div>
    </div>

    <div class="ui-tabs">
        <div class="container">
            <%= render template: 'UI/partials/tabs' %>
        </div>
    </div>

    <div class="ui-tabs__content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/token-listrik/detail">
                        <table class="table table-sm">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Nomor Meteran</label>
                                        <input type="text" name="id_pelanggan" class="form-control" placeholder="" onkeyup="cekHarga(this.value, 'TokenListrik')">
                                    </div>
                                </td>
                                <td width="250">
                                    <div class="form-group">
                                        <label>Nominal</label>
                                        <select id="nominalTokenListrik" name="nominal" class="form-control w-100" onchange="active(this.value, 'TokenListrik')">
                                            <option value="disabled" disabled> Pilih nominal pulsa
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="p-2 text-right">
                                        <h1 class="mb-0" id="priceTagTokenListrik">Rp 0</h1>
                                    </div>
                                </td>
                                <td class="text-right"><% if session[:acc_token] %>
                                        <button type="submit" class="btn btn-block btn-danger mt-2 disabled" disabled id="btnTokenListrik">
                                            Beli Sekarang
                                        </button>
                                    <% else %>
                                        <a href="/abutours-login" class="btn btn-block mt-2 btn-danger disabled" disabled id="btnTokenListrik">
                                            Beli Sekarang
                                        </a>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% end %>

<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nominalTokenListrik").select2({
                theme: "bootstrap"
            });
        });
    </script>
    <script type="text/javascript">
       $('#nominalTokenListrik').on('change', function (e) {
           $('#priceTagTokenListrik').html($(this).find("option:selected").data('price'));
       });
    </script>
<% end %>