<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="_landing | c-cover-head">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
          <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'lib/slider/tiket_pesawat.png', :class => 'd-block w-100', :alt => '' %>
          </div>
        </div>
      </div>
    </div>

    <div class="_landing | w-abu-fitur-search" style="background: #f9f7f6;">
      <div class="container">
        <div class="searching-head mb-4">
          <div class="row justify-content-between">
            <div class="col-8">
              <% if @daftar_keberangkatan %>
                  <h2>
                    <%= @daftar_keberangkatan['go_det']['dep_airport']['business_name'] + " (#{@daftar_keberangkatan['go_det']['dep_airport']['airport_code']})" + " #{@daftar_keberangkatan['go_det']['dep_airport']['city_name']}" %>
                    → <%= @daftar_keberangkatan['go_det']['arr_airport']['business_name'] + " (#{@daftar_keberangkatan['go_det']['arr_airport']['airport_code']})" + " #{@daftar_keberangkatan['go_det']['arr_airport']['city_name']}" %>

                  </h2>
                  <h6 class="lead mb-3">
                    <% tgl = @daftar_keberangkatan['go_det']['date'] %>
                    <%= TimeFormat::indonesian_day_name(tgl) + ', ' + TimeFormat::indonesiaMonthAlphabet(tgl) %> |
                    Dewasa: <%= params['dewasa'] %>, Anak: <%= params['anak'] %>, Bayi: <%= params['bayi'] %>
                  </h6>
              <% end %>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn btn-lg btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ganti
                Pencarian
              </button>
            </div>
          </div>

          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <form action="/pencarian-tiket" method="GET" id="formCariTiket">
                <table class="table table-sm">
                  <tr>
                    <td>
                      <div class="form-group">
                        <label>Kota Asal</label>
                        <select name="b" class="js-example-placeholder-single form-control" id="kota1">
                          <% group = '' %>
                          <% @bandara_terdekat.each do |item| %>
                              <% if item %>
                              <% if group != item['country_name'] %>
                                  <% group = item['country_name'] %>
                                  <optgroup label="<%= group %>">
                              <% end %>
                              <option value="<%= item['airport_code'] %>" <%= params[:b] == item['airport_code'] ? 'selected' : '' %>><%= item['location_name'] + "(#{item['airport_code']})" %></option>
                              <% if group != item['country_name'] %>
                                  </optgroup>
                              <% end %>
                              <% end %>
                          <% end %>
                        </select>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-portal btn-sm btn-success" id="tombol">
                        <i class="ion-arrow-swap"></i></button>
                      <div class="form-group">
                        <label>Kota Tujuan</label>
                        <select name="p" class="js-example-placeholder-single form-control" id="kota2">
                          <% group = '' %>
                          <% @bandara.each do |item| %>
                              <% if item %>
                              <% if group != item['country_name'] %>
                                  <% group = item['country_name'] %>
                                  <optgroup label="<%= group %>">
                              <% end %>
                              <option value="<%= item['airport_code'] %>" <%= params[:p] == item['airport_code'] ? 'selected' : '' %>><%= item['location_name'] + "(#{item['airport_code']})" %></option>
                              <% if group != item['country_name'] %>
                                  </optgroup>
                              <% end %>
                              <% end %>
                          <% end %>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="popover-markup" style="width: 100%">
                        <div class="trigger form-group form-group-icon-left">
                          <label>Jumlah Penumpang</label>
                          <input type="text" name="passanger-info" id="passanger-info" class="form-control" value="<%= params['passanger-info'] %>" readonly>
                          <input type="hidden" name="passengers" id="passengers" class="form-control" value="1" disabled>
                          <input type="hidden" name="dewasa" id="rAdult" class="form-control" value="<%= params['dewasa'] %>">
                          <input type="hidden" name="anak" id="rChild" class="form-control" value="<%= params['anak'] %>">
                          <input type="hidden" name="bayi" id="rInfant" class="form-control" value="<%= params['bayi'] %>">
                        </div>

                        <div class="content d-none">
                          <div class="form-group">
                            <label><strong>Dewasa</strong>
                              <i> (Umur +17 Tahun)</i>
                            </label>
                            <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <a class="btn btn-light" data-dir="dwn"><span class="ion-minus-round text-danger"></span></a>
                                    </span>
                              <input type="text" disabled name="adult" id="adult" class="form-control" max=9 min=1 value="<%= params['dewasa'] %>">
                              <span class="input-group-btn">
                                      <a class="btn btn-light" data-dir="up"><span class="ion-plus-round text-success"></span></a>
                                    </span>
                            </div>
                          </div>

                          <div class="form-group">
                            <label><strong>Anak - Anak</strong>
                              <i> (Umur 3 - 17 Tahun)</i>
                            </label>
                            <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                        <a class="btn btn-light" data-dir="dwn"><span class="ion-minus-round text-danger"></span></a>
                                    </span>
                              <input type="text" disabled name="child" id="child" class="form-control" max=9 min=0 value="<%= params['anak'] %>">
                              <span class="input-group-btn">
                                        <a class="btn btn-light" data-dir="up"><span class="ion-plus-round text-success"></span></a>
                                    </span>
                            </div>
                          </div>

                          <div class="form-group">
                            <labe><strong>Bayi</strong>
                              <i> (Umur 1 - 2 Tahun)</i>
                            </labe>
                            <div class="input-group number-spinner">
                                  <span class="input-group-btn">
                                      <a class="btn btn-light" data-dir="dwn"><span class="ion-minus-round text-danger"></span></a>
                                  </span>
                              <input type="text" disabled name="infant" id="infant" class="form-control" max=9 min=0 value="<%= params['bayi'] %>">
                              <span class="input-group-btn">
                                        <a class="btn btn-light" data-dir="up"><span class="ion-plus-round text-success"></span></a>
                                    </span>
                            </div>
                          </div>
                          <a class="btn btn-sm btn-light btn-block demise">Selesai</a>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="form-group">
                        <label>Tanggal Berangkat</label>
                        <input type="text" name="tgl-b" class="form-control" id="sekalijalan" placeholder="Tanggal Berangkat" value="<%= params['tgl-b'] %>">
                      </div>
                    </td>
                    <td>
                      <label class="custom-control custom-checkbox">
                        <input type="checkbox" name="checkbox" class="custom-control-input" value="double" <%= params['checkbox'] == 'double' ? 'checked' : '' %>>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Pulang Pergi</span>
                      </label>
                      <div class="form-group d-none" id="PP">
                        <input type="text" name="tgl-p" class="form-control" id="pulangpergi" placeholder="Tanggal Pulang" value="<%= params['tgl-p'] %>">
                      </div>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-search btn-block btn-success text-uppercase">
                        <i class="icon-search4 mr-2"></i>
                        Cari Tiket
                      </button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <% if @daftar_maskapai_berangkat && @daftar_maskapai_pulang %>
            <div id="static">
              <div class="w-ticket-selected">
                <table class="table table-sm table-selected mb-0">
                  <tbody>
                  <tr>
                    <td class="p-0 border-top-0">
                      <table class="table mb-0">
                        <tbody>
                        <tr>
                          <td class="t1" id="logo-maskapai-pergi">
                            <%= image_tag 'lib/pesawat/icon_airasia.png', :class => 'mx-auto d-block' %>
                          </td>

                          <td class="t2" id="stop-pergi">
                            Langsung
                          </td>

                          <td class="t3">
                            <p class="mb-0" id="kota-pergi">
                              <strong class="text-uppercase">Pergi:</strong>
                              - <br>

                              - <br>

                              <small>
                                -
                              </small>
                            </p>
                          </td>

                          <td class="t4" id="departure-pergi">
                            <h4 class="mb-0">-</h4>
                            <small>-</small>
                          </td>

                          <td class="t5" id="arrival-pergi">
                            <h4 class="mb-0">-</h4>
                            <small>-</small>
                          </td>

                          <td class="t6" id="fitur-pergi">
                            <small>
                              <i class="con-briefcase mr-1"></i> - <br>
                              <i class="ion-android-plane mr-1"></i> - <br>
                            </small>
                          </td>

                          <td rowspan="2" class="price-ticket p-3">
                            <span id="harga-total-rp">Rp. 0</span>
                            <input type="hidden" id="harga-total" value="0"/>
                            <input type="hidden" id="harga-pergi" value="0"/>
                            <input type="hidden" id="harga-pulang" value="0"/>
                            <a href="/form-pemesanan-tiket?fi=396015323&rfi=344106461" class="btn btn-block btn-danger linker">Bayar Sekarang</a>
                          </td>
                        </tr>

                        <tr>
                          <td class="t1" id="logo-maskapai-pulang">
                            <%= image_tag 'lib/pesawat/icon_airasia.png', :class => 'mx-auto d-block' %>
                          </td>

                          <td class="t2" id="stop-pulang">
                            -
                          </td>

                          <td class="t3">
                            <p class="mb-0" id="kota-pulang">
                              <strong class="text-uppercase">Pulang:</strong>
                              - <br>

                              - <br>

                              <small>
                                -
                              </small>
                            </p>
                          </td>

                          <td class="t4" id="departure-pulang">
                            <h4 class="mb-0">-</h4>
                            <small>-</small>
                          </td>

                          <td class="t5" id="arrival-pulang">
                            <h4 class="mb-0">-</h4>
                            <small>-</small>
                          </td>

                          <td class="t6" id="fitur-pulang">
                            <small>
                              <i class="con-briefcase mr-1"></i> - <br>
                              <i class="ion-android-plane mr-1"></i> - <br>
                            </small>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
        <% end %>

        <div class="row">
          <% if @daftar_maskapai_berangkat && @daftar_maskapai_pulang %>
              <% @harga_min = @daftar_maskapai_berangkat.min {|a, b| a['price_value'].to_f <=> b['price_value'].to_f} %>
              <% @harga_max = @daftar_maskapai_berangkat.max {|a, b| a['price_value'].to_f <=> b['price_value'].to_f} %>
              <% maskapai_uniq = @daftar_maskapai_berangkat.map {|h| h['airlines_short_real_name']}.uniq %>

              <% @harga_min2 = @daftar_maskapai_pulang.min {|a, b| a['price_value'].to_f <=> b['price_value'].to_f} %>
              <% @harga_max2 = @daftar_maskapai_pulang.max {|a, b| a['price_value'].to_f <=> b['price_value'].to_f} %>
              <% maskapai_uniq2 = @daftar_maskapai_pulang.map {|h| h['airlines_short_real_name']}.uniq %>

              <div class="col-12 clearfix">&nbsp;</div>
              <!-- Filter 1 -->
              <div class="col-6">
                Filter :
                  <div class="btn-group ml-1 mr-1">
                    <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddMaskapai" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Maskapai
                    </button>
                    <div class="dropdown-menu m-0 p-0">
                      <% maskapai_uniq.each do |m| %>
                          <a class="dropdown-item small" href="javascript:void(0);"
                             data-value="<%= m %>"
                             data-table="search_res"
                             data-button="ddMaskapai"
                             data-reset="resetFilter"
                             tabIndex="-1">
                            <input type="checkbox" value="<%= m %>"/>&nbsp;<%= m %>
                          </a>
                          <div class="dropdown-divider m-0 p-0"></div>
                      <% end %>
                    </div>
                  </div>

                  <div class="btn-group ml-1 mr-1">
                    <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddWaktu" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      Waktu
                    </button>
                    <div class="dropdown-menu m-0 p-0">
                      <h6 class="dropdown-header text-center mb-0">
                        <strong><span id="timeLow">00:00</span> - <span id="timeHigh">24:00</span></strong>
                      </h6>
                      <p class="dropdown-item">
                        <input id="filterTime1" type="text" class="span2" value="" data-slider-min="0" data-slider-max="24" data-slider-step="1" data-slider-value="[0,24]"/>
                      </p>
                    </div>
                  </div>

                  <div class="btn-group ml-1 mr-1">
                    <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddHarga" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      Harga
                    </button>
                    <div class="dropdown-menu m-0 p-0">
                      <h6 class="dropdown-header text-center mb-0">
                        <strong><span id="priceLow"><%= number_to_currency(@harga_min['price_value'], precision: 0, unit: 'IDR ') %></span> - <span id="priceHigh"><%= number_to_currency(@harga_max['price_value'], precision: 0, unit: 'IDR ') %></span></strong>
                      </h6>
                      <p class="dropdown-item">
                        <input id="filterPrice1" type="text" class="span2" value="" data-slider-min="<%= @harga_min['price_value'] %>" data-slider-max="<%= @harga_max['price_value'] %>" data-slider-step="50000" data-slider-value="[<%= @harga_min['price_value'] rescue '0' %>,<%= @harga_max['price_value'] rescue '0' %>]"/>
                      </p>
                    </div>
                  </div>
                  <div class="btn-group ml-1 mr-1">
                    <button type="button" class="btn btn-sm btn-outline-dark" id="resetFilter" style="display: none">
                      Reset Filter
                    </button>
                  </div>
                </div>
              <!-- Filter 2 -->
              <div class="col-6">Filter :
                <div class="btn-group ml-1 mr-1">
                  <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddMaskapai2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Maskapai
                  </button>
                  <div class="dropdown-menu m-0 p-0">
                    <% maskapai_uniq2.each do |m| %>
                        <a class="dropdown-item small" href="javascript:void(0);"
                           data-value="<%= m %>"
                           data-table="search_res2"
                           data-button="ddMaskapai2"
                           data-reset="resetFilter2"
                           tabIndex="-1">
                          <input type="checkbox" value="<%= m %>"/>&nbsp;<%= m %>
                        </a>
                        <div class="dropdown-divider m-0 p-0"></div>
                    <% end %>
                  </div>
                </div>

                <div class="btn-group ml-1 mr-1">
                  <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddWaktu2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    Waktu
                  </button>
                  <div class="dropdown-menu m-0 p-0">
                    <h6 class="dropdown-header text-center mb-0">
                      <strong><span id="timeLow2">00:00</span> - <span id="timeHigh2">24:00</span></strong>
                    </h6>
                    <p class="dropdown-item">
                      <input id="filterTime2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="24" data-slider-step="1" data-slider-value="[0,24]"/>
                    </p>
                  </div>
                </div>

                <div class="btn-group ml-1 mr-1">
                  <button type="button" class="btn btn-sm btn-outline-dark dummy-class dropdown-toggle" id="ddHarga2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    Harga
                  </button>
                  <div class="dropdown-menu m-0 p-0">
                    <h6 class="dropdown-header text-center mb-0">
                      <strong><span id="priceLow2"><%= number_to_currency(@harga_min2['price_value'], precision: 0, unit: 'IDR ') %></span> - <span id="priceHigh2"><%= number_to_currency(@harga_max2['price_value'], precision: 0, unit: 'IDR ') %></span></strong>
                    </h6>
                    <p class="dropdown-item">
                      <input id="filterPrice2" type="text" class="span2" value="" data-slider-min="<%= @harga_min2['price_value'] %>" data-slider-max="<%= @harga_max2['price_value'] %>" data-slider-step="50000" data-slider-value="[<%= @harga_min2['price_value'] %>,<%= @harga_max2['price_value'] %>]"/>
                    </p>
                  </div>
                </div>
                <div class="btn-group ml-1 mr-1">
                  <button type="button" class="btn btn-sm btn-outline-dark" id="resetFilter2" style="display: none">
                    Reset Filter
                  </button>
                </div>
              </div>


              <div class="col-6 pr-1" id="selectdContent">
                <table class="table table-search" id="search_res">
                  <thead>
                  <tr>
                    <!-- Sort 1 -->
                    <th></th>
                    <th class="th-1"><a class="dummy-class" href="javascript:void(0);" id="sort_1depart" data-sort="asc">Pergi
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-2"><a class="dummy-class" href="javascript:void(0);" id="sort_1arrival" data-sort="asc">Tiba
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-3"><a class="dummy-class" href="javascript:void(0);" id="sort_1duration" data-sort="asc">Durasi
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-4"><a class="dummy-class" href="javascript:void(0);" id="sort_1price" data-sort="asc">Harga
                      <div class="icon-updown"></div>
                    </a></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @daftar_maskapai_berangkat.each do |item| %>
                      <% maskapais = '' %>
                      <% item['flight_infos']['flight_info'].each do |fi| %>
                          <% maskapais = maskapais + fi['airlines_name'] + '-' %>
                      <% end %>
                      <% maskapais = maskapais.chop %>
                      <tr id="fl_<%= item['flight_id'] %>"
                          data-airlinesshortname="<%= item['airlines_short_real_name'] %>"
                          data-airlines="<%= item['flight_id'] %>"
                          data-airlinesname="<%= maskapais %>"
                          data-flightid="<%= item['flight_id'] %>"
                          data-depart="<%= item['simple_departure_time'] %>"
                          data-arrival="<%= item['simple_arrival_time'] %>"
                          data-stop="<%= item['stop'] == 'Langsung' ? '0' : '1' %>"
                          data-stoptext="<%= item['stop'] %>"
                          data-duration="<%= item['duration'] %>"
                          data-baggage="<%= item['check_in_baggage'] %> Kg"
                          data-price="<%= item['price_value'] %>">
                        <td class="td-items p-0" colspan="5">
                          <div class="form-check p-0 m-0" style="width: 100%">
                            <label class="form-check-label p-0 m-0" style="width: 100%">
                              <table class="table table-sm table-search-body">
                                <tbody>
                                <tr>
                                  <td rowspan="3" class="tc-1">
                                    <input type="radio" name="flight-b" id="flight-b" value="<%= item['flight_id'] %>">
                                  </td>

                                  <td colspan="3" class="tc-2" id="logo-maskapai-pergi-<%= item['flight_id'] %>">
                                    <% item['flight_infos']['flight_info'].each do |fi| %>
                                        <%= image_tag fi['img_src'], :class => 'rounded mr-2', :alt => '' %>
                                    <% end %>

                                    <span id="kota-pergi-<%= item['flight_id'] %>" style="display: none">
                                      <strong class="text-uppercase">Pergi:</strong>
                                      <%= item['departure_city_name'] + '(' + item['departure_city'] + ')' %>
                                      ke <%= item['arrival_city_name'] + '(' + item['arrival_city'] + ')' %><br/>
                                      <%= item['arrival_flight_date_str_short'] %> <br/>
                                      <small><%= item['flight_number'] %></small>
                                    </span>

                                    <span id="departure-pergi-<%= item['flight_id'] %>" style="display: none">
                                      <h4 class="mb-0"><%= item['simple_departure_time'] %></h4>
                                      <small><%= item['departure_city_name'] + '(' + item['departure_city'] + ')' %></small>
                                    </span>

                                    <span id="arrival-pergi-<%= item['flight_id'] %>" style="display: none">
                                      <h4 class="mb-0"><%= item['simple_arrival_time'] %></h4>
                                      <small><%= item['arrival_city_name'] + '(' + item['arrival_city'] + ')' %></small>
                                    </span>

                                    <span id="fitur-pergi-<%= item['flight_id'] %>" style="display: none">
                                      <small>
                                        <i class="con-briefcase mr-1"></i> <%= item['check_in_baggage'] + item['check_in_baggage_unit'] %>
                                        <br>
                                        <% if item['airport_tax'] == true %>
                                            <i class="ion-android-plane mr-1"></i> Pajak Bandara <br>
                                        <% end %>
                                      </small>
                                    </span>

                                    <span id="harga-pergi-<%= item['flight_id'] %>" style="display: none">
                                      <%= item['price_value'] %>
                                    </span>

                                    <span>
                                      <%= item['flight_infos']['flight_info'].size > 1 ? 'Multi Maskapai' : item['airlines_real_name'] %>
                                    </span>
                                  </td>

                                  <td class="tc-price">
                                    <h2 class="text-right mb-0">
                                      <%= number_to_currency(item['price_value'], precision: 0, unit: "Rp ") %>
                                    </h2>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="tc-times" colspan="2">
                                    <h3 class="mb-0">
                                      <%= item['simple_departure_time'] %>
                                    </h3>
                                    <p class="mb-0">
                                      <%= item['departure_city_name'] + " (#{item['departure_city']})" %>
                                    </p>
                                  </td>

                                  <td class="tc-times">
                                    <h3 class="mb-0">
                                      <%= item['simple_arrival_time'] %>
                                    </h3>
                                    <p class="mb-0">
                                      <%= item['arrival_city_name'] + " (#{item['arrival_city']})" %>
                                    </p>
                                  </td>

                                  <td class="tc-times">
                                    <h3 class="mb-0">
                                      <%= item['duration'] %>
                                    </h3>
                                    <p class="mb-0" id="stop-pergi-<%= item['flight_id'] %>">
                                      <%= item['stop'] %>
                                    </p>
                                  </td>
                                </tr>
                                <!-- --------------------------------------------------------------- -->
                                <tr>
                                  <td colspan="2" class="tc-collapse">
                                    <a class="collapsed text-info" data-toggle="collapse" data-parent="#accor<%= item['flight_id'] %>" href="#flight<%= item['flight_id'] %>" aria-expanded="false" aria-controls="Cpenerbangan">
                                      Detil Penerbangan
                                    </a>
                                  </td>

                                  <td colspan="2" class="tc-collapse">
                                    <a class="collapsed text-info" data-toggle="collapse" data-parent="#accor<%= item['flight_id'] %>" href="#price<%= item['flight_id'] %>" aria-expanded="false" aria-controls="Charga">
                                      Detil Harga
                                    </a>
                                  </td>
                                </tr>
                                <!-- --------------------------------------------------------------- -->
                                <tr>
                                  <td colspan="5" class="p-0 border-0">
                                    <div class="searching-content" id="accor<%= item['flight_id'] %>" role="tablist" aria-multiselectable="true">
                                      <div id="flight<%= item['flight_id'] %>" class="collapse m-0" role="tabpanel" aria-labelledby="Cpenerbangan1">
                                        <table class="table">
                                          <% item['flight_infos']['flight_info'].each do |items| %>
                                              <% if items['transit_arrival_text_city'] != "" %>
                                                  <tr>
                                                    <td class="pt-0 pb-0 m-0" colspan="3">
                                                      <div class="alert alert-success mt-3 mb-3 ml-5 mr-5">
                                                        <i class="icon-info22"></i> Transit
                                                        Selama <%= items['transit_arrival_text_time'] %>
                                                        di <%= items['departure_city_name'] %>
                                                      </div>
                                                    </td>
                                                  </tr>
                                              <% end %>
                                              <tr>
                                                <td class="border-top-0">
                                                  <%= image_tag items['img_src'], :class => 'rounded mx-auto d-block mt-4', :alt => '' %>
                                                  <p class="mb-0 text-center">
                                                    <small class="text-muted">
                                                      <%= item['airlines_real_name'] %>
                                                    </small>
                                                  </p>
                                                </td>
                                                <!-- --------------------------------------------------------------- -->
                                                <td class="border-top-0">
                                                  <ul>
                                                    <li><span></span>
                                                      <div>
                                                        <div class="title">
                                                          <table class="table table-flex">
                                                            <tr>
                                                              <td>
                                                                <%= items['simple_departure_time'] %> <br>
                                                                <p class="mb-0">
                                                                  <%= items['string_arrival_date'] %>
                                                                </p>
                                                              </td>
                                                              <td>
                                                                <h6 class="mb-0">
                                                                  <%= items['departure_city_name'] + " (#{items['departure_city']})" %>
                                                                </h6>
                                                                <p class="mb-0">
                                                                  <%= items['departure_airport_name'] %>
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </div>

                                                        <div class="info">
                                                          <i class="icon-airplane3"></i> <%= items['duration_hour'] + " " + items['duration_minute'] %>
                                                        </div>

                                                        <div class="title">
                                                          <table class="table table-flex">
                                                            <tr>
                                                              <td>
                                                                <%= items['simple_arrival_time'] %> <br>
                                                                <p class="mb-0">
                                                                  <%= items['string_arrival_date'] %>
                                                                </p>
                                                              </td>
                                                              <td>
                                                                <h6 class="mb-0">
                                                                  <%= items['arrival_city_name'] + " (#{items['arrival_city']})" %>
                                                                </h6>
                                                                <p class="mb-0">
                                                                  <%= items['arrival_airport_name'] %>
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </div>
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                              <!-- --------------------------------------------------------------- -->
                                          <% end %>
                                        </table>
                                      </div>

                                      <div id="price<%= item['flight_id'] %>" class="collapse m-0" role="tabpanel" aria-labelledby="Charga1">
                                        <table class="table">
                                          <tr>
                                            <td class="border-top-0">
                                              <h6 class="lead">
                                                <%= @daftar_keberangkatan['go_det']['dep_airport']['city_name'] +
                                                        " (#{@daftar_keberangkatan['go_det']['dep_airport']['airport_code']})" + " - " +
                                                        @daftar_keberangkatan['go_det']['arr_airport']['city_name'] +
                                                        " (#{@daftar_keberangkatan['go_det']['arr_airport']['airport_code']})" %>
                                              </h6>
                                            </td>
                                            <!-- --------------------------------------------------------------- -->
                                            <td class="border-top-0">
                                              <h6 class="lead">
                                                <% if @daftar_keberangkatan['search_queries']['adult'] != 0 %>
                                                    Harga Dasar Dewasa
                                                    (x<%= @daftar_keberangkatan['search_queries']['adult'] %>)
                                                    <span class="float-right">
                                                <%= number_to_currency(item['price_adult'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                <% end %>
                                                <h6>
                                                  <% if @daftar_keberangkatan['search_queries']['child'] != 0 %>
                                                      Harga Dasar Anak
                                                      (x<%= @daftar_keberangkatan['search_queries']['child'] %>)
                                                      <span class="float-right">
                                                <%= number_to_currency(item['price_child'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                  <% end %>
                                                </h6>

                                                <h6>
                                                  <% if @daftar_keberangkatan['search_queries']['infant'] != 0 %>
                                                      Harga Dasar Bayi
                                                      (x<%= @daftar_keberangkatan['search_queries']['infant'] %>)
                                                      <span class="float-right">
                                                <%= number_to_currency(item['price_infant'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                  <% end %>
                                                </h6>
                                              </h6>

                                              <hr class="my-3">

                                              <h6 class="">
                                                Jumlah Pembayaran
                                                <span class="float-right">
                                              <%= number_to_currency(item['price_value'], precision: 0, unit: "Rp ") %>
                                              </span>
                                              </h6>
                                            </td>
                                            <!-- --------------------------------------------------------------- -->
                                          </tr>
                                          <!-- --------------------------------------------------------------- -->
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </label>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="col-6 pl-1">
                <table class="table table-search" id="search_res2">
                  <thead>
                  <tr>
                    <!-- Sort 2 -->
                    <th></th>
                    <th class="th-1"><a class="dummy-class2" href="javascript:void(0);" id="sort_2depart" data-sort="asc">Pergi
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-2"><a class="dummy-class2" href="javascript:void(0);" id="sort_2arrival" data-sort="asc">Tiba
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-3"><a class="dummy-class2" href="javascript:void(0);" id="sort_2duration" data-sort="asc">Durasi
                      <div class="icon-updown"></div>
                    </a></th>
                    <th class="th-4"><a class="dummy-class2" href="javascript:void(0);" id="sort_2price" data-sort="asc">Harga
                      <div class="icon-updown"></div>
                    </a></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @daftar_maskapai_pulang.each do |item| %>
                      <% maskapais = '' %>
                      <% item['flight_infos']['flight_info'].each do |fi| %>
                          <% maskapais = maskapais + fi['airlines_name'] + '-' %>
                      <% end %>
                      <% maskapais = maskapais.chop %>
                      <tr id="fl_<%= item['flight_id'] %>"
                          data-airlinesshortname="<%= item['airlines_short_real_name'] %>"
                          data-airlines="<%= item['flight_id'] %>"
                          data-airlinesname="<%= maskapais %>"
                          data-flightid="<%= item['flight_id'] %>"
                          data-depart="<%= item['simple_departure_time'] %>"
                          data-arrival="<%= item['simple_arrival_time'] %>"
                          data-stop="<%= item['stop'] == 'Langsung' ? '0' : '1' %>"
                          data-stoptext="<%= item['stop'] %>"
                          data-duration="<%= item['duration'] %>"
                          data-baggage="<%= item['check_in_baggage'] %> Kg"
                          data-price="<%= item['price_value'] %>">
                        <td class="td-items p-0" colspan="5">
                          <div class="form-check p-0 m-0" style="width: 100%">
                            <label class="form-check-label p-0 m-0" style="width: 100%">
                              <table class="table table-sm table-search-body">
                                <tbody>
                                <tr>
                                  <td rowspan="3" class="tc-1">
                                    <input type="radio" name="flight-c" id="flight-c" value="<%= item['flight_id'] %>">
                                  </td>

                                  <td colspan="3" class="tc-2" id="logo-maskapai-pulang-<%= item['flight_id'] %>">
                                    <% item['flight_infos']['flight_info'].each do |fi| %>
                                        <%= image_tag fi['img_src'], :class => 'rounded mr-2', :alt => '' %>
                                    <% end %>

                                    <span id="kota-pulang-<%= item['flight_id'] %>" style="display: none">
                                      <strong class="text-uppercase">Pulang:</strong>
                                      <%= item['departure_city_name'] + '(' + item['departure_city'] + ')' %>
                                      ke <%= item['arrival_city_name'] + '(' + item['arrival_city'] + ')' %><br/>
                                      <%= item['arrival_flight_date_str_short'] %> <br/>
                                      <small><%= item['flight_number'] %></small>
                                    </span>

                                    <span id="departure-pulang-<%= item['flight_id'] %>" style="display: none">
                                      <h4 class="mb-0"><%= item['simple_departure_time'] %></h4>
                                      <small><%= item['departure_city_name'] + '(' + item['departure_city'] + ')' %></small>
                                    </span>

                                    <span id="arrival-pulang-<%= item['flight_id'] %>" style="display: none">
                                      <h4 class="mb-0"><%= item['simple_arrival_time'] %></h4>
                                      <small><%= item['arrival_city_name'] + '(' + item['arrival_city'] + ')' %></small>
                                    </span>

                                    <span id="fitur-pulang-<%= item['flight_id'] %>" style="display: none">
                                      <small>
                                        <i class="con-briefcase mr-1"></i> <%= item['check_in_baggage'] + item['check_in_baggage_unit'] %>
                                        <br>
                                        <% if item['airport_tax'] == true %>
                                            <i class="ion-android-plane mr-1"></i> Pajak Bandara <br>
                                        <% end %>
                                      </small>
                                    </span>

                                    <span id="harga-pulang-<%= item['flight_id'] %>" style="display: none">
                                      <%= item['price_value'] %>
                                    </span>

                                    <span>
                                      <%= item['flight_infos']['flight_info'].size > 1 ? 'Multi Maskapai' : item['airlines_real_name'] %>
                                    </span>
                                  </td>

                                  <td class="tc-price">
                                    <h2 class="text-right mb-0">
                                      <%= number_to_currency(item['price_value'], precision: 0, unit: "Rp ") %>
                                    </h2>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="tc-times" colspan="2">
                                    <h3 class="mb-0">
                                      <%= item['simple_departure_time'] %>
                                    </h3>
                                    <p class="mb-0">
                                      <%= item['departure_city_name'] + " (#{item['departure_city']})" %>
                                    </p>
                                  </td>

                                  <td class="tc-times">
                                    <h3 class="mb-0">
                                      <%= item['simple_arrival_time'] %>
                                    </h3>
                                    <p class="mb-0">
                                      <%= item['arrival_city_name'] + " (#{item['arrival_city']})" %>
                                    </p>
                                  </td>

                                  <td class="tc-times">
                                    <h3 class="mb-0">
                                      <%= item['duration'] %>
                                    </h3>
                                    <p class="mb-0" id="stop-pulang-<%= item['flight_id'] %>">
                                      <%= item['stop'] %>
                                    </p>
                                  </td>
                                </tr>
                                <!-- --------------------------------------------------------------- -->
                                <tr>
                                  <td colspan="2" class="tc-collapse">
                                    <a class="collapsed text-info" data-toggle="collapse" data-parent="#accor<%= item['flight_id'] %>" href="#flight<%= item['flight_id'] %>" aria-expanded="false" aria-controls="Cpenerbangan">
                                      Detil Penerbangan
                                    </a>
                                  </td>

                                  <td colspan="2" class="tc-collapse">
                                    <a class="collapsed text-info" data-toggle="collapse" data-parent="#accor<%= item['flight_id'] %>" href="#price<%= item['flight_id'] %>" aria-expanded="false" aria-controls="Charga">
                                      Detil Harga
                                    </a>
                                  </td>
                                </tr>
                                <!-- --------------------------------------------------------------- -->
                                <tr>
                                  <td colspan="5">
                                    <div class="searching-content" id="accor<%= item['flight_id'] %>" role="tablist" aria-multiselectable="true">
                                      <div id="flight<%= item['flight_id'] %>" class="collapse m-0" role="tabpanel" aria-labelledby="Cpenerbangan1">
                                        <table class="table">
                                          <% item['flight_infos']['flight_info'].each do |items| %>
                                              <% if items['transit_arrival_text_city'] != "" %>
                                                  <tr>
                                                    <td class="pt-0 pb-0 m-0">
                                                      <div class="alert alert-success mt-3 mb-3 ml-5 mr-5">
                                                        <i class="icon-info22"></i> Transit
                                                        Selama <%= items['transit_arrival_text_time'] %>
                                                        di <%= items['departure_city_name'] %>
                                                      </div>
                                                    </td>
                                                  </tr>
                                              <% end %>
                                              <tr>
                                                <td class="border-top-0">
                                                  <%= image_tag items['img_src'], :class => 'rounded mx-auto d-block p-3', :alt => '' %>
                                                  <p class="mb-0 text-center">
                                                    <small class="text-muted">
                                                      <%= item['airlines_real_name'] %>
                                                    </small>
                                                  </p>
                                                </td>
                                                <!-- --------------------------------------------------------------- -->
                                                <td class="border-top-0">
                                                  <ul>
                                                    <li><span></span>
                                                      <div>
                                                        <div class="title">
                                                          <table class="table table-flex">
                                                            <tr>
                                                              <td>
                                                                <%= items['simple_departure_time'] %> <br>
                                                                <p class="mb-0">
                                                                  <%= items['string_arrival_date'] %>
                                                                </p>
                                                              </td>
                                                              <td>
                                                                <h6 class="mb-0">
                                                                  <%= items['departure_city_name'] + " (#{items['departure_city']})" %>
                                                                </h6>
                                                                <p class="mb-0">
                                                                  <%= items['departure_airport_name'] %>
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </div>

                                                        <div class="info">
                                                          <i class="icon-airplane3"></i> <%= items['duration_hour'] + " " + items['duration_minute'] %>
                                                        </div>

                                                        <div class="title">
                                                          <table class="table table-flex">
                                                            <tr>
                                                              <td>
                                                                <%= items['simple_arrival_time'] %> <br>
                                                                <p class="mb-0">
                                                                  <%= items['string_arrival_date'] %>
                                                                </p>
                                                              </td>
                                                              <td>
                                                                <h6 class="mb-0">
                                                                  <%= items['arrival_city_name'] + " (#{items['arrival_city']})" %>
                                                                </h6>
                                                                <p class="mb-0">
                                                                  <%= items['arrival_airport_name'] %>
                                                                </p>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </div>
                                                      </div>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                              <!-- --------------------------------------------------------------- -->
                                          <% end %>
                                        </table>
                                      </div>

                                      <div id="price<%= item['flight_id'] %>" class="collapse m-0" role="tabpanel" aria-labelledby="Charga1">
                                        <table class="table">
                                          <tr>
                                            <td class="border-top-0">
                                              <h6 class="lead">
                                                <%= @daftar_keberangkatan['go_det']['dep_airport']['city_name'] +
                                                        " (#{@daftar_keberangkatan['go_det']['dep_airport']['airport_code']})" + " - " +
                                                        @daftar_keberangkatan['go_det']['arr_airport']['city_name'] +
                                                        " (#{@daftar_keberangkatan['go_det']['arr_airport']['airport_code']})" %>
                                              </h6>
                                            </td>
                                            <!-- --------------------------------------------------------------- -->
                                            <td class="border-top-0">
                                              <h6 class="lead">
                                                <% if @daftar_keberangkatan['search_queries']['adult'] != 0 %>
                                                    Harga Dasar Dewasa
                                                    (x<%= @daftar_keberangkatan['search_queries']['adult'] %>)
                                                    <span class="float-right">
                                                <%= number_to_currency(item['price_adult'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                <% end %>
                                                <h6>
                                                  <% if @daftar_keberangkatan['search_queries']['child'] != 0 %>
                                                      Harga Dasar Anak
                                                      (x<%= @daftar_keberangkatan['search_queries']['child'] %>)
                                                      <span class="float-right">
                                                <%= number_to_currency(item['price_child'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                  <% end %>
                                                </h6>

                                                <h6>
                                                  <% if @daftar_keberangkatan['search_queries']['infant'] != 0 %>
                                                      Harga Dasar Bayi
                                                      (x<%= @daftar_keberangkatan['search_queries']['infant'] %>)
                                                      <span class="float-right">
                                                <%= number_to_currency(item['price_infant'], precision: 0, unit: "Rp ") %>
                                              </span>
                                                  <% end %>
                                                </h6>
                                              </h6>

                                              <hr class="my-3">

                                              <h6 class="">
                                                Jumlah Pembayaran
                                                <span class="float-right">
                                              <%= number_to_currency(item['price_value'], precision: 0, unit: "Rp ") %>
                                              </span>
                                              </h6>
                                            </td>
                                            <!-- --------------------------------------------------------------- -->
                                          </tr>
                                          <!-- --------------------------------------------------------------- -->
                                        </table>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </label>
                          </div>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
          <% else %>
              </div>
              <div class="row">
                <div class="w-blank text-center">
                  <%= image_tag 'icon_blank/no_ticket.png', :class => 'mx-auto d-block', :alt => '' %>
                  <p class="mb-0">
                    Tidak tersedia penerbangan pada rute yang Anda pilih
                  </p>
                </div>
              </div>
          <% end %>
          </div>
    </div>

<% end %>

<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {

            var menu = $('#static');
            var origOffsetY = menu.offset();

            function scroll() {
                if ($(window).scrollTop() >= origOffsetY) {
                    $('#static').addClass('container sticky');
                    $('#selectdContent').addClass('menu-padding');
                } else {
                    $('#static').removeClass('container sticky');
                    $('#selectdContent').removeClass('menu-padding');
                }
            }
            document.onscroll = scroll;

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            <% if @daftar_maskapai_berangkat && @daftar_maskapai_pulang %>
            // check updated flight every 10 secs
            var interval = 10000;

            function chckUpdate() {
                var isUpdate = 0;
                var tanggal = $("#sekalijalan").datepicker('getDate');

                $.ajax({
                    type: 'POST',
                    url: "api/tiket/check-updated-flights",
                    data: {
                        d: $("#kota1").val(),
                        a: $("#kota2").val(),
                        date: $.datepicker.formatDate('yy-mm-dd', tanggal),
                        _r: Math.random()
                    },
                    dataType: 'json',
                    success: function (data) {
                        isUpdate = data.update;
                        if (isUpdate > 0) {
                            swal({
                                title: 'Update Harga',
                                text: 'Harga tiket telah berubah, klik OK untuk memuat harga baru',
                                type: 'warning',
                                allowOutsideClick: false,
                            }).then(function () {
                                location.reload();
                            });
                        }

                    },
                    complete: function (data) {
                        if (isUpdate <= 0) {
                            setTimeout(chckUpdate, interval);
                        }
                    }
                });
            }

            setTimeout(chckUpdate, interval);
            <% end %>
            $(".js-example-placeholder-single").select2({
                placeholder: ""
            });
        });

        $(document).ready(function () {
            $('input[name=checkbox]').change(function () {
                if ($(this).prop("checked")) {
                    setTimeout(function () {
                        $('#PP').fadeIn('slow');
                        $('#PP').removeClass('d-none');
                    }, 200);
                } else {
                    setTimeout(function () {
                        $('#PP').fadeOut('slow');
                        $('#PP').addClass('d-none');
                    }, 200);
                }
            });
            $('input[name=checkbox]').trigger('change');
        });
    </script>

    <script type="text/javascript">
        var typeText = {
            adult: {
                singular: 'Dewasa', plural: 'Dewasa'
            },
            child: {
                singular: 'Anak', plural: 'Anak'
            },
            infant: {
                singular: 'Bayi', plural: 'Bayi'
            }
        };

        $(function () {
            var $popover = $('.popover-markup>.trigger').popover({
                html: true,
                placement: 'auto',
//                title: '<?= lang("Select passengers");?><a class="close demise");"><i class="ion-close"></i></a>',
                content: function () {
                    return $(this).parent().find('.content').html();
                }
            });

            // open popover & inital value in form
            var passengers = [1, 0, 0];
            $('.popover-markup>.trigger').click(function (e) {
                e.stopPropagation();
                $(".popover-body input").each(function (i) {
                    $(this).val(passengers[i]);
                });
            });

            // close popover
            $(document).click(function (e) {
                if ($(e.target).is('.demise')) {
                    $('.popover-markup>.trigger').popover('hide');
                }
            });

            // store form value when popover closed
            $popover.on('hide.bs.popover', function () {
                $(".popover-body input").each(function (i, val) {
                    passengers[i] = $(this).val();
//                    console.log($("#adult").val());
//                    console.log($("#child").val());
//                    console.log($("#infant").val());
                    console.log(val);
                    console.log(passengers[i]);


                    dewasa = $('#rAdult');
                    anak = $('#rChild');
                    bayi = $('#rInfant');

//                    console.log($('#adult').val());
//                    console.log($('#child').val());
//                    console.log($('#infant').val());

                    dewasa.val($('#adult').val());
                    anak.val($('#child').val());
                    bayi.val($('#infant').val());

                });
            });

            // spinner(+-btn to change value) & total to parent input
            $(document).on('click', '.number-spinner a', function () {
                var btn = $(this),
                    input = btn.closest('.number-spinner').find('input'),
                    total = $('#passengers').val(),
                    oldValue = input.val().trim();
                adult = $('#adult').val();

                if (btn.attr('data-dir') == 'up') {
                    if (oldValue < input.attr('max')) {
                        oldValue++;
                        total++;
                    }
                } else {
                    if (oldValue > input.attr('min')) {
                        oldValue--;
                        total--;
                    }
                }

                $('#passengers').val(total);

                input.val(oldValue);

                passangerInfoText = [];
                $(".popover-body input").each(function (i) {
                    if (this.value > 0) {
                        passangerInfoText.push(typeText[this.id][this.value > 1 ? 'plural' : 'singular'] + ': ' + this.value);
                    }
                });
                $('#passanger-info').val(passangerInfoText.join(', '))
            });
            $(".popover-markup>.trigger").popover('hide');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {


            // daterange numberMonth
            function setDate() {
                var d = $("#sekalijalan").datepicker('getDate');
                $("#pulangpergi").datepicker('option', 'minDate', d);
                if ($("#pulangpergi").val() == '') {
                    $("#pulangpergi").datepicker('setDate', d);
                }
            }

            $("#sekalijalan").datepicker({
                dateFormat: 'dd/mm/yy',
                showOtherMonths: true,
                numberOfMonths: 2,
                minDate: 'today',
                onSelect: setDate
            });

            $("#pulangpergi").datepicker({
                dateFormat: 'dd/mm/yy',
                showOtherMonths: true,
                numberOfMonths: 2,
                minDate: 'today',
                beforeShow: setDate
            });

            $("input[type=radio][id='flight-b']").on('change', function (e) {
                var id = $(this).val();
                var arraysOfImgs = $("#logo-maskapai-pergi-" + id + " img").map(function () {
                    im = "<img src='" + this.src + "' class='mx-auto d-block'>";
                    return im;
                }).get();

                $("#logo-maskapai-pergi").html(arraysOfImgs);
                $("#stop-pergi").text($("#stop-pergi-" + id).text());
                $("#kota-pergi").html($("#kota-pergi-" + id).html());
                $("#departure-pergi").html($("#departure-pergi-" + id).html());
                $("#arrival-pergi").html($("#arrival-pergi-" + id).html());
                $("#fitur-pergi").html($("#fitur-pergi-" + id).html());
                var hrg1 = $("#harga-pergi-" + id).text().trim();
                var hrg2 = $("#harga-pulang").val();
                var hrgt = parseFloat(hrg1) + parseFloat(hrg2);
                $("#harga-pergi").val(hrg1);
                $("#harga-total").val(hrgt);
                $("#harga-total-rp").text('Rp. ' + hrgt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."));
                $('.linker').attr("href", $('.linker').attr("href").replace(/\?(fi=)[0-9]\d+/g, "?fi="+id));
            });

            $("input[type=radio][id='flight-c']").on('change', function (e) {
                var id = $(this).val();
                var arraysOfImgs = $("#logo-maskapai-pulang-" + id + " img").map(function () {
                    im = "<img src='" + this.src + "' class='mx-auto d-block'>";
                    return im;
                }).get();

                $("#logo-maskapai-pulang").html(arraysOfImgs);
                $("#stop-pulang").text($("#stop-pulang-" + id).text());
                $("#kota-pulang").html($("#kota-pulang-" + id).html());
                $("#departure-pulang").html($("#departure-pulang-" + id).html());
                $("#arrival-pulang").html($("#arrival-pulang-" + id).html());
                $("#fitur-pulang").html($("#fitur-pulang-" + id).html());
                var hrg1 = $("#harga-pergi").val();
                var hrg2 = $("#harga-pulang-" + id).text().trim();
                var hrgt = parseFloat(hrg1) + parseFloat(hrg2);
                $("#harga-pulang").val(hrg2);
                $("#harga-total").val(hrgt);
                $("#harga-total-rp").text('Rp. ' + hrgt.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1."));
                $('.linker').attr("href", $('.linker').attr("href").replace(/\&(rfi=)[0-9]\d+/g, "&rfi="+id));
            });

            $("input:radio[name=flight-b]:not(:disabled):first").click();
            $("input:radio[name=flight-c]:not(:disabled):first").click();

            $("#sekalijalan").trigger("onSelect");

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#formCariTiket").bootstrapValidator({
                message: 'Value is not valid',
                fields: {
                    b: {
                        validators: {
                            notEmpty: {
                                message: 'Kota asal tidak boleh kosong'
                            },
                            different: {
                                field: 'p',
                                message: 'Kota asal dan tujuan tidak boleh sama'
                            }
                        }
                    },
                    p: {
                        validators: {
                            notEmpty: {
                                message: 'Kota tujuan tidak boleh kosong'
                            },
                            different: {
                                field: 'b',
                                message: 'Kota tujuan dan asal tidak boleh sama'
                            }
                        }
                    }

                }
            });

        });
    </script>

    <script>
        var options = [];
        var prices = [];
        var times = [];

        var options2 = [];
        var prices2 = [];
        var times2 = [];

        function initFilter() {
            options = [];
            prices = [<%= @harga_min ? @harga_min['price_value'] : 0 %>, <%= @harga_max ? @harga_max['price_value'] : 0 %>];
            times = ['00:00','24:00'];

            options2 = [];
            prices2 = [<%= @harga_min2 ? @harga_min2['price_value'] : 0 %>, <%= @harga_max2 ? @harga_max2['price_value'] : 0 %>];
            times2 = ['00:00','24:00'];
        }


        $(document).ready(function () {
            Number.prototype.formatMoney = function (c, d, t) {
                var n = this,
                    c = isNaN(c = Math.abs(c)) ? 2 : c,
                    d = d == undefined ? "." : d,
                    t = t == undefined ? "," : t,
                    s = n < 0 ? "-" : "",
                    i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                    j = (j = i.length) > 3 ? j % 3 : 0;
                return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };

            function pad(n, width, z) {
                z = z || '0';
                n = n + '';
                return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
            }

            initFilter();

            $('a[id^=sort_]').each(function () {
                $(this).click(function () {
                    var klass = $(this).attr('class');
                    $('.' + klass).removeClass('active');
                    $(this>"div").removeClass('icon-updown').removeClass('icon-down').removeClass('icon-up').addClass('icon-updown');
                    $(this).addClass('active');
                    var sort_by = $(this).attr('id').substring(6);
                    var order = $(this).data('sort');
                    if (order === 'asc') {
                        $(this).data('sort', 'desc');
                        $(this).find("div").addClass('icon-up');
                    } else {
                        $(this).data('sort', 'asc');
                        $(this).find("div").addClass('icon-down');
                    }
                    var tabel = $(this).closest('.table-search').attr('id');
                    tinysort('#' + tabel + '>tbody>tr', {
                        data: sort_by,
                        order: (this.isAsc = !this.isAsc) ? 'asc' : 'desc'
                    });
                });
            });


            function doFilter(_table, _options, _times, _prices) {
                var $result = $('table#' + _table + '>tbody>tr');
                var len = _options.length;
                var $res1, $res2, $res3;
                $res1 = $result;
                $result.hide();
                if (len > 0) {
                    $res1 = $result.filter(function () {
                        return $.inArray($(this).data('airlinesshortname'), _options) > -1;
                    });
                }

                console.log($res1);
                $res2 = $res1.filter(function() {
                    return (
                        eval( $(this).data('price') ) >= _prices[0] &&
                        eval( $(this).data('price') ) <= _prices[1]
                    );
                });

                $res3 = $res2.filter(function() {
                    return (
                        $(this).data('depart') >= _times[0] &&
                        $(this).data('depart') <= _times[1]
                    );
                });

                $res3.show();
            }

            $('.dropdown-menu a.dropdown-item').on('click', function (event) {

                var $target = $(event.currentTarget),
                    val = $target.attr('data-value'),
                    btn = $target.attr('data-button'),
                    rst = $target.attr('data-reset'),
                    $inp = $target.find('input'),
                    tbl = $target.attr('data-table'),
                    idx;

                if (tbl === 'search_res') {
                    if (( idx = options.indexOf(val) ) > -1) {
                        options.splice(idx, 1);
                        setTimeout(function () {
                            $inp.prop('checked', false)
                        }, 0);
                    } else {
                        options.push(val);
                        setTimeout(function () {
                            $inp.prop('checked', true)
                        }, 0);
                    }

                    if (options.length <= 0) {
                        $('#' + btn).removeClass('active');
                    } else {
                        $('#' + btn).addClass('active');
                    }
                } else {
                    if (( idx = options2.indexOf(val) ) > -1) {
                        options2.splice(idx, 1);
                        setTimeout(function () {
                            $inp.prop('checked', false)
                        }, 0);
                    } else {
                        options2.push(val);
                        setTimeout(function () {
                            $inp.prop('checked', true)
                        }, 0);
                    }

                    if (options2.length <= 0) {
                        $('#' + btn).removeClass('active');
                    } else {
                        $('#' + btn).addClass('active');
                    }
                }
                $(event.target).blur();

                console.log(tbl === 'search_res');
                console.log(tbl === 'search_res2');

                if (tbl === 'search_res') {
                    doFilter(tbl, options, times, prices);
                } else {
                    doFilter(tbl, options2, times2, prices2);
                }
                $('#' + rst).show();
                return false;
            });

            $("#filterPrice1").bootstrapSlider();
            $("#filterTime1").bootstrapSlider();
            $("#filterPrice2").bootstrapSlider();
            $("#filterTime2").bootstrapSlider();

            $("#filterPrice1").on("change", function (event) {
                var a = event.value.newValue;
                var b = event.value.oldValue;

                var changed = !($.inArray(a[0], b) !== -1 &&
                    $.inArray(a[1], b) !== -1 &&
                    $.inArray(b[0], a) !== -1 &&
                    $.inArray(b[1], a) !== -1 &&
                    a.length === b.length);

                if( changed ) {
                    prices[0] = event.value.newValue[0];
                    prices[1] = event.value.newValue[1];
                    $("#priceLow").text('IDR ' + prices[0].formatMoney(0, ',', '.'));
                    $("#priceHigh").text('IDR ' + prices[1].formatMoney(0, ',', '.'));
                    $('#ddHarga').addClass('active');
                    doFilter('search_res', options, times, prices);
                    $('#resetFilter').show();
                }
            });

            $("#filterTime1").on("change", function (event) {
                var a = event.value.newValue;
                var b = event.value.oldValue;

                var changed = !($.inArray(a[0], b) !== -1 &&
                    $.inArray(a[1], b) !== -1 &&
                    $.inArray(b[0], a) !== -1 &&
                    $.inArray(b[1], a) !== -1 &&
                    a.length === b.length);

                if( changed ) {
                    jam1 = pad(event.value.newValue[0], 2) + ':00';
                    jam2 = pad(event.value.newValue[1], 2) + ':00';
                    times[0] = jam1;
                    times[1] = jam2;
                    $("#timeLow").text(jam1);
                    $("#timeHigh").text(jam2);
                    $('#ddWaktu').addClass('active');
                    doFilter('search_res', options, times, prices);
                    $('#resetFilter').show();
                }
            });

            $("#filterPrice2").on("change", function (event) {
                var a = event.value.newValue;
                var b = event.value.oldValue;

                var changed = !($.inArray(a[0], b) !== -1 &&
                    $.inArray(a[1], b) !== -1 &&
                    $.inArray(b[0], a) !== -1 &&
                    $.inArray(b[1], a) !== -1 &&
                    a.length === b.length);

                if( changed ) {
                    prices2[0] = event.value.newValue[0];
                    prices2[1] = event.value.newValue[1];
                    $("#priceLow2").text('IDR ' + prices2[0].formatMoney(0, ',', '.'));
                    $("#priceHigh2").text('IDR ' + prices2[1].formatMoney(0, ',', '.'));
                    $('#ddHarga2').addClass('active');
                    doFilter('search_res2', options2, times2, prices2);
                    $('#resetFilter2').show();
                }
            });

            $("#filterTime2").on("change", function (event) {
                var a = event.value.newValue;
                var b = event.value.oldValue;

                var changed = !($.inArray(a[0], b) !== -1 &&
                    $.inArray(a[1], b) !== -1 &&
                    $.inArray(b[0], a) !== -1 &&
                    $.inArray(b[1], a) !== -1 &&
                    a.length === b.length);

                if( changed ) {
                    jam1 = pad(event.value.newValue[0], 2) + ':00';
                    jam2 = pad(event.value.newValue[1], 2) + ':00';
                    times2[0] = jam1;
                    times2[1] = jam2;
                    $("#timeLow2").text(jam1);
                    $("#timeHigh2").text(jam2);
                    $('#ddWaktu2').addClass('active');
                    doFilter('search_res2', options2, times2, prices2);
                    $('#resetFilter2').show();
                }
            });


            $('#resetFilter').click(function () {
                initFilter();
                $('table#search_res>tbody>tr').show();

                $("input:checkbox").attr( "checked" , false );
                $("#filterPrice1").bootstrapSlider('refresh');
                $("#filterTime1").bootstrapSlider('refresh');

                $('#ddMaskapai').removeClass('active');
                $('#ddWaktu').removeClass('active');
                $('#ddHarga').removeClass('active');

                $(this).hide();
            });

            $('#resetFilter2').click(function () {
                initFilter();
                $('table#search_res2>tbody>tr').show();

                $("input:checkbox").attr( "checked" , false );
                $("#filterPrice2").bootstrapSlider('refresh');
                $("#filterTime2").bootstrapSlider('refresh');

                $('#ddMaskapai2').removeClass('active');
                $('#ddWaktu2').removeClass('active');
                $('#ddHarga2').removeClass('active');

                $(this).hide();
            })

        });

    </script>

<% end %>