<% content_for :head do %>
    <title>Paket Umrah | Lebih Dari Sekedar Nikmatnya Ibadah</title>
<% end %>

<% content_for :abutours do %>
    <section class="c-dashboard">
        <div class="container">
            <div class="row">
                <!-- --------------------------------------------------- -->
                <div class="col-3 pr-4 sticky">
                    <div class="card c-dashboard-side pb-5">
                        <div class="card-body c-dashboard-side__item p-0 theiaStickySidebar">
                            <%= render template: 'accounts/partials/sidebar' %>
                        </div>
                    </div>
                </div>
                <!-- --------------------------------------------------- -->
                <div class="col-9 pl-0 pr-2 ml-15">
                    <div class="_landing | w-breadcrumb">
                        <ol class="breadcrumb border-bottom-0">
                            <li class="breadcrumb-item"><a href="/">Halaman awal</a></li>
                            <li class="breadcrumb-item active">Paket Umrah</li>
                        </ol>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <div class="card c-dashboard-user c-dashboard-user-small">
                        <%= render template: 'accounts/partials/bannerTop' %>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <div class="c-bg-white mt-2">
                        <form action="" method="GET">
                            <input type="hidden" name="type" value="search">
                            <div class="row">
                                <div class="col-10 pr-0">
                                    <table class="table table-flex">
                                        <tr>
                                            <td>
                                                <div class="form-group m-0">
                                                    <label>Kota Keberangkatan</label>
                                                    <select class="js-example-placeholder-single form-control" name="kota" id="kota">
                                                        <option value="">Semua Kota</option>
                                                        <% if @data_pre_search %>
                                                            <% @kota = @data_pre_search['kota'] %>
                                                            <% @kota.each do |data| %>
                                                                <optgroup label="<%= data['name'].titlecase %>">
                                                                    <% @kantor = data['kota'] %>
                                                                    <% @kantor.each do |kantor| %>
                                                                        <option value="<%= kantor['kdkantor'].gsub(';', ',') %>" <%= kantor['kdkantor'].gsub(';', ',') == params['kota'] ? 'selected' : '' %>><%= kantor['namakantor'].titlecase %></option>
                                                                    <% end %>
                                                                </optgroup>
                                                            <% end %>
                                                        <% end %>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group m-0">
                                                    <label>Bulan Keberangkatan</label>
                                                    <select class="js-example-placeholder-single form-control" name="bulan" id="bulan">
                                                        <option value="">
                                                            Semua Bulan
                                                        </option>
                                                        <% if @data_pre_search %>
                                                            <% @bulan = @data_pre_search['bulan'] %>
                                                            <% @bulan.each do |data| %>
                                                                <option value="<%= data['bulan'] %>" <%= data['bulan'] == params['bulan'] ? 'selected' : '' %>><%= data['name'] %></option>
                                                            <% end %>
                                                        <% end %>
                                                    </select>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group m-0">
                                                    <label>Tahun Keberangkatan</label>
                                                    <select class="js-example-placeholder-single form-control" name="tahun" id="tahun">
                                                        <option value="">
                                                            Semua Tahun
                                                        </option>
                                                        <% if @data_pre_search %>
                                                            <% @tahun = @data_pre_search['tahun'] %>
                                                            <% @tahun.each do |data| %>
                                                                <option value="<%= data['tahun'] %>" <%= data['tahun'] == params['tahun'] ? 'selected' : '' %>><%= data['tahun'] %></option>
                                                            <% end %>
                                                        <% end %>
                                                    </select>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-2 pl-1">
                                    <button type="submit" class="btn btn-block btn-success">Cari</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- --------------------------------------------------- -->
                    <% if !@data.nil? %>
                        <% @data.each do |item| %>
                            <div class="c-bg-white-accounts mt-2">
                                <div class="card c-dashboard-paket">
                                    <div class="card-body c-dashboard-paket__item">
                                        <table class="table table-paket m-0">
                                            <tr>
                                                <td class="c-paket__body">
                                                    <div class="media">
                                                        <% if item['gambar'] && !item['gambar'].nil? %>
                                                            <%= image_tag item['gambar'], :class => 'd-flex align-self-center mr-3', :alt => '', onerror: 'this.error=null;this.src="/assets/no_images/no_package_1.png"' %>
                                                        <% else %>
                                                            <%= image_tag 'no_images/no_package_1.png', :class => 'mx-auto d-block', :alt => '', onerror: 'this.error=null;this.src="/assets/no_images/no_package_1.png"' %>
                                                        <% end %>

                                                        <div class="media-body">
                                                            <p class="packet-rate mt-1 mb-0">
                                                                <span class="text-muted">fasilitas</span>
                                                                <% item['rating'] > 0 ? rating = item['rating'] : 0 %>
                                                                <% (0..(rating-1)).each do |r| %>
                                                                    <i class="ion-android-star"></i>
                                                                <% end %>
                                                                <% (0..(4-rating)).each do |r| %>
                                                                    <i class="ion-android-star-outline"></i>
                                                                <% end %>
                                                            </p>

                                                            <p class="item-link item-line mt-1">
                                                                <%= item['nama'].titlecase %>
                                                            </p>

                                                            <h5 class="mt-1 mb-1"><%= number_to_currency(item['harga_jual'], precision: 0, unit: "Rp ") %></h5>

                                                            <p class="card-text packet-city m-0">
                                                                Kota <%= item['kota'].titlecase %>
                                                                - <%= item['kantor'].titlecase %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>

                                                <td width="161" class="c-paket__footer">
                                                    <a href="<%= url_for('/form-pemesanan-paket/'+item['kode_produk']+'?kk='+item['kdkantor']+'&th='+item['tahun']+'&bln='+item['bulan']+'&lu='+item['jumlah_hari'].to_s) + '&type=umrah-single' %>" class="btn btn-block btn-danger">Beli
                                                        Paket</a>
                                                    <a href="<%= url_for('/detil-paket-b2c/'+item['kode_produk']+'?kk='+item['kdkantor'])+'&th='+item['tahun']+'&bln='+item['bulan'] %>" class="btn btn-block btn-outline-success">Detail
                                                        Paket</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <!-- --------------------------------------------------- -->
                        <nav aria-label="Page navigation" class="mt-1">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item">
                                    <%= @page['link_prev'].html_safe %>
                                </li>
                                <% @page['html'].each do |page| %>
                                    <%= page.html_safe %>
                                <% end %>
                                <li class="page-item">
                                    <%= @page['link_next'].html_safe %>
                                </li>
                            </ul>
                        </nav>
                        <!-- --------------------------------------------------- -->
                    <% else %>
                        <div class="w-blank text-center p-5">
                            <%= image_tag 'icon_blank/no_seat_umroh.png', :class => 'mx-auto d-block', :alt => '' %>
                            <p class="mb-0">
                                Maaf, Kuota paket umrah telah habis!
                            </p>
                        </div>
                    <% end %>
                </div>
                <!-- --------------------------------------------------- -->
            </div>
        </div>
    </section>
<% end %>
<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".js-example-placeholder-single").select2({
                theme : 'bootstrap'
            });
        });
    </script>
<% end %>