<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="p-blog__header">
      <div class="container">
        <ul class="nav nav-pills nav-fill pt-4 pb-4">
          <li class="nav-item display-4 text-uppercase">
            Store
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Wanita</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Anak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Oleh-oleh</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-services | p-2">
      <div class="container">
        <div class="row">

        <div class="_landing | c-blog">
          <div class="card | c-blog__head | c-bg-transparant">
            <div class="card-body | c-blog__head-b">
              <h4 class="card-title | text-center | text-uppercase | h-title | mb-0 mt-3">PRIA</h4>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="card mb-3">
              <div class="row pl-3 pr-3">
                <div class="col-sm-12">
                  <%= image_tag 'http://www.uniqlo.com/id/men/tops/knit/img/170301_image_01.jpg', :class => 'card-img-top | d-flex | mx-auto', :alt=> '' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row pl-3 pr-3">
            <div class="col-sm-3">
              <div class="card | c-blog__item">
                <%= image_tag 'http://im.uniqlo.com/images/common/pc/goods/189569/item/69_189569_middles.jpg', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title | item-link item-line">
                    Manasik Umrah Jakarta 2017
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">PRIA</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card | c-blog__item">
                <%= image_tag 'http://im.uniqlo.com/images/common/pc/goods/196408/item/68_196408_middles.jpg', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title | item-link item-line">
                    Manasik Haji Makassar 2016
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">PRIA</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card | c-blog__item">
                <%= image_tag 'http://im.uniqlo.com/images/common/pc/goods/182568/item/02_182568_middles.jpg', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title | item-link item-line">
                    Manasik Haji Makassar 2016
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">PRIA</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card | c-blog__item">
                <%= image_tag 'http://im.uniqlo.com/images/common/pc/goods/402610/item/09_402610_middles.jpg', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title | item-link item-line">
                    Diskon 10% promo tiket pesawat di abutours
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">PRIA</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="mb-0 text-center">
            <a href="/blog" class="btn btn-outline-secondary">
              Lihat semua
            </a>
          </p>
        </div>



        <div class="_landing | c-blog">
          <div class="card | c-blog__head | c-bg-transparant">
            <div class="card-body | c-blog__head-b">
              <h4 class="card-title | text-center | text-uppercase | h-title | mb-0 mt-3">OLEH-OLEH</h4>
            </div>
          </div>

          <div class="row pl-3 pr-3">
            <div class="col-sm-4">
              <div class="card | c-blog__item">
                <%= image_tag 'https://d3ui957tjb5bqd.cloudfront.net/uploads/images/4/46/46931.homepage.jpg?1501590139', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title">
                    <div class="item-link item-line">
                      Diskon 10% promo tiket pesawat di abutours
                    </div>
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">SOVENIR</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card | c-blog__item">
                <%= image_tag 'https://d3ui957tjb5bqd.cloudfront.net/uploads/images/4/46/46948.homepage.jpg?1501668243', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title">
                    <div class="item-link item-line">
                      Diskon 10% promo tiket pesawat di abutours
                    </div>
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">SOVENIR</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card | c-blog__item">
                <%= image_tag 'https://d3ui957tjb5bqd.cloudfront.net/uploads/images/4/46/46893.homepage.jpg?1501065608', :class => 'card-img-top | d-flex | mx-auto', :alt => '' %>
                <div class="card-body | c-blog__item-b">
                  <p class="card-text b-categories">
                    <a href="" class="btn btn-sm btn-outline-success">Beli</a>
                  </p>

                  <h5 class="card-title b-title">
                    <div class="item-link item-line">
                      Diskon 10% promo tiket pesawat di abutours
                    </div>
                  </h5>
                </div>
                <div class="card-footer c-blog__footer">
                  <div class="text-left">
                    <h5 class="float-left | card-title b-title"><small>Rp</small>200.000</h5>
                  </div>
                  <div class="text-right">
                    <small class="text-muted | float-right | f-category">SOVENIR</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class="mb-0 text-center">
            <a href="/blog" class="btn btn-outline-secondary">
              Lihat semua
            </a>
          </p>
        </div>
          
          <!-- <div class="card | p-services__item | c-right">
              <%= image_tag 'https://a0.muscache.com/im/pictures/b3a26d12-12e4-4c9a-ac2d-8c59d3f8afd4.jpg?aki_policy=xl_poster', :class => 'img-rounded' %>
              <div class="card-body | p-services__item-b"></div>
            </div> -->
        </div>
      </div>
    </div>
<% end %>

<%= content_for :foot do %>
    <!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
    <!--//    if (screen.width <= 720) {-->
    <!--//        window.location = "http://m.abutours.com";-->
    <!--//    }-->
    <!--&lt;!&ndash;</script>&ndash;&gt;-->
<% end %>