<%= content_for :head do %>
    <title>abutours.com | best travel services</title>
<% end %>

<%= content_for :abutours do %>
    <div class="_landing | w-breadcrumb">
      <div class="container">
        <ol class="breadcrumb border-bottom-0">
          <li class="breadcrumb-item"><a href="/">Halaman awal</a></li>
          <li class="breadcrumb-item active">Semua produk</li>
        </ol>
      </div>
    </div>

    <div class="_landing | w-packet">
      <div class="container">
        <div class="row">
          <div class="col-3 pr-4 sticky">
            <div class="card w-packet-side">
              <div class="body p-0 theiaStickySidebar">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item heading">Filter Kategori Produk</li>
                  <li class="list-group-item">
                    <a href="" class="active">
                      Semua Produk
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="">
                      Fashion Muslim Wanita
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="">
                      Fashion Muslim Pria
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="">
                      Perlengkapan Umrah & Haji
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="">
                      Oleh - Oleh Umrah & Haji
                    </a>
                  </li>

                  <li class="list-group-item">
                    <a href="">
                      Produk Lainnya
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-9 pl-0 pr-2 ml-15">
            <div class="card w-packet-card">
              <div class="card-body w-packet-card-body">
                <div class="d-flex justify-content-end">
                  <div class="mr-auto">
                    <h4 class="card-title">
                      Semua Produk
                    </h4>
                  </div>

                  <div class="all-item">
                    <div class="form-group mb-2">
                      <select class="form-control form-control-sm" id="">
                        <option value="0" disabled selected>Urutkan produk . . .</option>
                        <option value="1">semua produk</option>
                        <option value="2">produk terbaru</option>
                        <option value="3">produk termurah</option>
                        <option value="4">produk termahal</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row pl-2 pr-2">
                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/1.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/2.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/3.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/4.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/5.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/6.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/7.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/8.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/9.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/10.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/11.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/12.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/13.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/14.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/15.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/16.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/17.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/18.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/19.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-sm-3 pl-1 pr-1">
                    <a href="/detil-produk">
                      <div class="card c-store">
                        <div class="card-body card-body-image">
                          <%= image_tag 'store/20.jpg', :class => 'mx-auto d-block', :alt => '' %>
                        </div>
                        <div class="card-body">
                          <div class="name-packet name-packet-line">
                            Souvenir umrah original madinah
                          </div>

                          <p class="text-left mt-1 mb-0">
                            <span class="price-packet">Rp 20,000</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<%= content_for :foot do %>

<% end %>