<!DOCTYPE html>
<html class="js csstransforms supports csstransforms3d">
<head>
  <%= yield :headlogister %>
  <%= favicon_link_tag 'logo/favicon.png' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Abu Tours & Travel Umrah memberikan jaminan transaksi aman, fasilitas dan pelayanan ibadah yang lebih baik untuk perjalanan umroh maupun haji anda. Kami Tumbuh dari Kepercayaan Anda, lebih dari sekedar nikmatnya beribadah."/>
  <meta name="author" content="PT Amanah Bersama Ummat"/>

  <meta property="og:title" content="abutours.com - lebih dari sekedar nikmatnya ibadah"/>
  <meta property="og:description" content="abutours.com - semua bisa umrah bersama kami"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://www.abutours.com"/>
  <meta property="og:image" content="https://www.abutours.com/abutours/logo/favicon.png"/>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', type: 'text/css', media: 'all' %>
  <%= javascript_include_tag 'application', type: 'text/javascript' %>

  <% if Rails.env.production? %>

      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({
              'gtm.start':
                  new Date().getTime(), event: 'gtm.js'
          });
          var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5HKZP56');</script>
      <!-- End Google Tag Manager -->

  <% end %>
</head>
<body>

<%= yield :logister %>

</body>

<script type="text/javascript">
    (function () {
        "use strict";
        window.addEventListener("load", function () {
            var form = document.getElementById("needs-validation");
            form.addEventListener("submit", function (event) {
                if (form.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add("was-validated");
            }, false);
        }, false);
    }());
    $(document).ready(function(){
      if (<%= !flash[:status].nil? ? flash[:status] : false %>) {
        if ("<%= @res %>" == 'success') {
            swal({
                text: '<%= flash[:message] %>',
                timer: 3000,
                type: 'success',
                onOpen: function () {
                    swal.showLoading()
                }
            });
        }
      }
      if (<%= !flash[:status].nil? ? flash[:status] : false %>) {
          if ("<%= @res %>" == 'fails') {
              swal({
                  text: '<%= flash[:message] %>',
                  timer: 3000,
                  type: 'error',
                  onOpen: function () {
                      swal.showLoading()
                  }
              });
          }
      }
    });
</script>

<script type="text/javascript">
    //hide or show password
    $('.hide-password').on('click', function () {
        var $this = $(this),
            $password_field = $this.prev('input');
        ( 'password' == $password_field.attr('type') ) ? $password_field.attr('type', 'text') : $password_field.attr('type', 'password');
        ( 'hide' == $this.text() ) ? $this.text('show') : $this.text('hide');
        //focus and move cursor to the end of input field
        $password_field.focus();
        $password_field[0].setSelectionRange($password_field.val().length, $password_field.val().length);
    });
</script>

<!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
<!--//    if (screen.width <= 720) {-->
<!--//        window.location = "http://m.abutours.com";-->
<!--//    }-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
</html>